//- footer at bottom of static pages

footer(style='font-size:small; color:gray; padding: 20px 0; margin-top: 8rem')
  hr/
  p.center
    | #{NAME}
    |
    | –
    |
    a(target="_blank" rel='noopener' href="https://cocalc.com") CoCalc

    if !!ORGANIZATION_NAME
      |
      | –
      |
      +organization

    if TOS_URL != ''
      |
      | –
      |
      a(target="_blank" rel='noopener' href=TOS_URL) Terms of Service

    if CONTACT_EMAIL != ''
      |
      | –
      |
      a(href="mailto:"+CONTACT_EMAIL) Contact

div.center(style="margin-bottom: 6rem;")
  a(href=PREFIX + "app")
    +cocalc-rectangular