.csstransitions.csstransforms {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000; }
  .csstransitions.csstransforms .deck-container:not(.deck-menu) {
    overflow: hidden; }
    .csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -400px;
      width: 800px;
      -webkit-transition: all 0.3s ease-in-out 0ms;
      -moz-transition: all 0.3s ease-in-out 0ms;
      -ms-transition: all 0.3s ease-in-out 0ms;
      -o-transition: all 0.3s ease-in-out 0ms;
      transition: all 0.3s ease-in-out 0ms; }
      .csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide .slide {
        -webkit-transition: all 0.3s ease-in-out 0ms;
        -moz-transition: all 0.3s ease-in-out 0ms;
        -ms-transition: all 0.3s ease-in-out 0ms;
        -o-transition: all 0.3s ease-in-out 0ms;
        transition: all 0.3s ease-in-out 0ms; }
    .csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-previous:not(.deck-child-current),
    .csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-before:not(.deck-child-current) {
      -webkit-transform: rotateY(-90deg) translateZ(400px) translateX(-400px);
      -moz-transform: rotateY(-90deg) translateZ(400px) translateX(-400px);
      -ms-transform: rotateY(-90deg) translateZ(400px) translateX(-400px);
      -o-transform: rotateY(-90deg) translateZ(400px) translateX(-400px);
      transform: rotateY(-90deg) translateZ(400px) translateX(-400px);
      opacity: 0; }
    .csstransitions.csstransforms .deck-container:not(.deck-menu) .deck-next:not(.deck-child-current),
    .csstransitions.csstransforms .deck-container:not(.deck-menu) .deck-after:not(.deck-child-current) {
      -webkit-transform: rotateY(90deg) translateZ(400px) translateX(400px);
      -moz-transform: rotateY(90deg) translateZ(400px) translateX(400px);
      -ms-transform: rotateY(90deg) translateZ(400px) translateX(400px);
      -o-transform: rotateY(90deg) translateZ(400px) translateX(400px);
      transform: rotateY(90deg) translateZ(400px) translateX(400px);
      opacity: 0; }
