/*
 *  This file is part of CoCalc: Copyright © 2020 Sagemath, Inc.
 *  License: AGPLv3 s.t. "Commons Clause" – see LICENSE.md for details
 */

.cocalc-history-diff-delete
  background-color : #ffecec

.cocalc-history-diff-insert
  background-color : #eaffea

.cocalc-history-diff-divide
  border-bottom : 1px solid grey

.cocalc-history-diff-gutter
  width : 12em

.cocalc-history-diff-number
  color        : #999
  padding-left : 10px
  white-space  : pre