*~
*__pycache__
*.csr
*.pem
*.pyc
*.tmp
*.sqlite3
logs
codemirror.min.js
.DS_Store
*.log
*.sobj
.*.sage-backup
.*.sage-history
.*.smc-backup
data/
.#*
\#*
node_modules
*.sass-cache

salvus/static/salvus_base_url.js
salvus/static/salvus/*.js
salvus/static/index.js
salvus/static/index.min.js
salvus/static/salvus.js
salvus/static/salvus.min.js
salvus/static/index.html
salvus/static/index.css
salvus/static/sass/
salvus/static/index.map.css
salvus/static/index.sass

salvus/page/temp

salvus/static/mercury/js/mercury.min.js
salvus/static/mercury/src/build

salvus/static/codemirror-3.1/*

salvus/static/*.min.js
salvus/static/*.map.js

salvus/scripts/skel/.sagemathcloud

salvus/src/*cassandra*
salvus/src/*.tar.gz
salvus/src/*.tgz
.*backup
.*swp

.*sage-chat

salvus/conf/tinc_hosts/

*.aux
*.out
*.pdf
*.synctex.gz
*.toc
*.term
*.sagews

# mocha: banket coverage report
salvus/coverage


