*~
*__pycache__
*.pyc
*.sqlite3
logs
.DS_Store
*.log
*.sobj
.*.sage-backup
.*.smc-backup
data/
.#*
\#*
node_modules
*.sass-cache

salvus/static/salvus_base_url.js
salvus/static/salvus/*.js
salvus/static/index.js
salvus/static/index.min.js
salvus/static/salvus.js
salvus/static/salvus.min.js
salvus/static/index.html
salvus/static/index.css
salvus/page/temp

salvus/static/mercury/js/mercury.min.js
salvus/static/mercury/src/build

salvus/static/codemirror-3.1/*

salvus/static/*.min.js

salvus/scripts/skel/.sagemathcloud

salvus/src/*cassandra*
salvus/src/*.tar.gz
salvus/src/*.tgz
.*backup
.*swp

.*sage-chat
