*~
*__pycache__
*.pyc
*.sqlite3
logs
.DS_Store
*.log
*.sobj
data/
.#*
node_modules

salvus/static/salvus/*.js
salvus/static/index.js
salvus/static/index.min.js
salvus/static/salvus.js
salvus/static/salvus.min.js
salvus/static/index.html
salvus/static/index.css
salvus/page/temp

salvus/static/mercury/js/mercury.min.js
salvus/static/mercury/src/build