/*
 *  This file is part of CoCalc: Copyright © 2020 Sagemath, Inc.
 *  License: AGPLv3 s.t. "Commons Clause" – see LICENSE.md for details
 */

.smc-project-files-dropdown>a
  overflow      : hidden
  text-overflow : ellipsis

.smc-project-files-dropdown
  > a
    overflow      : hidden
    text-overflow : ellipsis
  > ul
    width : 100%

dl.cc-project-settings-features
  > dt
    width       : 20px
  > dd
    margin-left : 30px

.cocalc-files-tabs-more
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15)
  .ant-tabs-dropdown-menu-item
    font-size: 14px
    .anticon
      font-size: 125%
      margin-right: 10px

.cc-project-info-cgroup-table-flyout
  div.ant-descriptions-view
    border-left: 0 !important
    border-right: 0 !important
    border-radius: 0
  th.ant-descriptions-item-label
    width: 25%
  td.ant-descriptions-item-content
    width: 75%

.cc-project-info-cgroup-table-page
  table
    td.ant-descriptions-item-content
      width: 250px // due to width auto, this is a proportion, not absolute value
