/*
 *  This file is part of CoCalc: Copyright © 2020 Sagemath, Inc.
 *  License: AGPLv3 s.t. "Commons Clause" – see LICENSE.md for details
 */

// #smc-file-tabs-* used in project_page.cjsx

// ProjectPage
=file-tabs-base
  height        : 32px
  font-size     : 10.5pt
  border-radius : 5px 5px 0px 0px

.smc-file-tabs-fixed-desktop > li > a
  padding       : 10px 5px
  +file-tabs-base

// make nav tabs a little tighter horizontally.
.smc-file-tabs-sortable-desktop > li > a
  padding: 10px 5px

// ProjectPage

.list-group-header
  list-style     : none
  color          : $COL_GRAY
  padding-left   : 5px
  margin-top     : 5px
  border-top     : 1px solid $COL_GRAY_LL
  padding-top    : 10px
  &:first-child
    margin-top   : 5px
    padding-top  : 0px
    border-top   : none

.smc-file-tab-floating
  background-color    : $COL_BS_BLUE_BGRND
  border-radius       : 5px 5px 0px 0px
  box-sizing          : border-box
  color               : rgb(51, 51, 51)
  display             : block
  flex-shrink         : 1
  line-height         : normal
  list-style-image    : none
  list-style-position : outside
  list-style-type     : none
  overflow-x          : hidden
  overflow-y          : hidden
  position            : relative
  text-align          : left
  width               : 250px
  +file-tabs-base

  > a
    color               : rgb(51, 51, 51)
    border-radius       : 5px 5px 0px 0px
    box-sizing          : border-box
    display             : block
    line-height         : normal
    list-style-image    : none
    list-style-position : outside
    list-style-type     : none
    padding             : 11px 5px
    position            : relative
    +file-tabs-base

.highlight
  background-color : yellow

.cc-project-files-create-dropdown
  > .dropdown.btn-group
    display: flex

.cc-project-files-path-nav
  min-width: 35vw
  > div,
  > nav
    background-color: $COL_GRAY_LLL
    border-radius: 3px

// The !important below are because we are directly overriding
// what is defined for breadcrumbs in antd, in particular, in the
// antd-breadcrumb class. We do this, so things look right in
// the particular place we are using this.
.cc-path-navigator
  flex: 5 1 auto
  margin-bottom: 15px !important
  max-width: 50vw
  padding: 5px 10px !important

.cc-path-navigator
  color: $COL_BS_BLUE_TEXT
  span
    cursor: pointer
.cc-path-navigator-history
  color: $COL_GRAY
.cc-path-navigator-active
  font-weight: bold
  color: black

.cc-custom-image-desc
  h1
    font-size: 125%
  h2
    font-size: 120%
  h3
    font-size: 115%
  h4
    font-size: 110%
  h6
    font-size: 105%