.box { 
   text-align:center;
   font-family:sans-serif;
   color: #333;
}

.scrolldiv {
    height:300px;  /* TODO */
    width:100%;
    overflow:auto;
    border:2px solid #555;
    padding:15px;
    background:#fff;
}

.backend_stat {
    font-size:x-small;
    border:1px solid #555;
    padding-left:4px;
    padding-right:4px;
}

.backend_stat_row {
    border:2px solid #777;
    padding:5px;
}
   
#tabs { 
    font-size:12px; 
    line-height:1.4; 
} 


