/*
Here we revert some of the style changes that antd made.

This is mainly meant to be temporary, so that we keep the
overall global bootstrap style (e.g., the particular shade
of blue for links) until we do a full switch.
*/

a {
    color: #428bca;
}

a:hover {
    color: #428bca;
}

html {
    overflow: hidden;
}
