// additonal style devs for feature pages

@import "smc-webapp/_colors.sass"

body > div.space
  margin-top       : 5rem
div#top
  margin           : 10rem 0 5rem 0
  .descr
    color          : $COL_GRAY
    font-size      : 2rem
  > div
    margin-bottom  : 2rem
blockquote.blockquote
  font-size        : 16px
  img
    height         : 10rem
    width          : auto
    float          : left
    margin         : 0 1rem 1rem 0
ul,
ol
  padding-left     : 2rem
div
  img
    width             : 100%
    height            : auto
  &.row
    margin-top        : 2rem
    margin-bottom     : 4rem
    > div
      > h1
        margin-bottom : 4rem
      > h2, h3
        margin-bottom : 2rem
      > div
        margin-bottom : 1rem