//- API documentation page a redirect to https://doc.cocalc.com/api/

extends ../_base_kucalc.pug

block vars
  -
    navbar_active = 'api';
    var subtitle = "API";

block header
  meta(name="description" content=NAME + " " + subtitle)
  meta(http-equiv="refresh" content="3; URL=https://doc.cocalc.com/api/")


block content

  div.container
    div.row#top
      div.col-md-12
        h1 #{NAME} API
        div(style="min-height: 75vh").
          The API documentation moved permanently to #[a(href="https://doc.cocalc.com/api/") https://doc.cocalc.com/api/].