//- doc landing page

extends ../_base_kucalc.pug

block vars
  - subtitle = 'Documentation'

block content

  //- CSS comes at the top: overwrites styles defined in the header
  style
    :sass
      @import "smc-webapp/_colors.sass"
      div#top
        margin-top        : 15rem

  div.content
    div.row#top
      ul
        li #[a(href="api.html") API Documentation]
        if COMP_ENV
          li #[a(href="software.html") Software Environments]
