extends ../_base.pug

block vars
  -
    navbar_active = 'features';
    subnavbar_active = 'terminal';
    subtitle = 'Linux Terminal';

block header
  meta(name="description" content=NAME + ' - ' + subtitle)
  meta(http-equiv="refresh" content="2; URL=./linux.html")

block content
  div.container
    div.row.intro#top
      div.col-md-12.center
        a(href="./linux.html") This page moved to linux.html.