//- for development, run $ env CC_COMP_ENV=true CC_STATICPAGES=true npm run webpack-debug

extends ../_base.pug

block vars
  -
    navbar_active = 'software';
    subnavbar_active = 'software-r';
    subtitle = NAME + " R Environments";

block header
  meta(name="description" content=NAME + " R Environments")

block content
  a.anchor#a-top
  div.container
    div.row#top
      h1 R Statistical Software Environments
      div.
        This table lists available R libraries with their respective version numbers.
        The header at the top lists the available environments
        and the left column describes the name and summary of the library.
      div.
        Besides all the listed libraries you can install additional ones in your project.
      div.
        More information: #[a(href="./r-statistical-software.html") R support on #{NAME}].

  +software-environment-table('R')

