//- for development, run $ env CC_COMP_ENV=true CC_STATICPAGES=true npm run webpack-debug

extends ../_base_kucalc.pug

block vars
  -
    subtitle = NAME + " Julia Environment";
    subnavbar_active = 'software-julia';
    navbar_active = 'software';

block header
  meta(name="description" content=NAME + " Julia Environment")

block content
  a.anchor#a-top
  div.container
    div.row#top
      h1 Julia
      div.
        This table lists available Julia libraries with their respective version numbers
        The left column describes the name and summary of the library.
      div.
        Besides all the listed libraries you can install additional ones in your project.

  +software-environment-table('julia')
