//- for development, run $ env CC_COMP_ENV=true CC_STATICPAGES=true npm run webpack-debug

extends ../_base.pug

block vars
  - subtitle = NAME + " Julia Environment"

block header
  meta(name="description" content=NAME + " Julia Environment")

block content
  a.anchor#a-top
  div.container
    div.row#top
      h1 Julia
      div.
        This table lists available Julia libraries with their respective version numbers.
        The left column describes the name and summary of the library.
      div.
        Besides the listed libraries, you can also install additional ones directly in your project.

  +software-environment-table('julia')



  //- CSS comes at the bottom: overwrites styles defined in the header
  style
    :sass
      @import "smc-webapp/_colors.sass"
      div#top
        margin           : 5rem 0