//- for development, run $ env CC_COMP_ENV=true CC_STATICPAGES=true npm run webpack-debug

extends ../_base_kucalc.pug

block vars
  -
    navbar_active = 'software';
    subnavbar_active = 'software-python';
    subtitle = NAME + " Python Environments";

block header
  meta(name="description" content=NAME + " Python Environments")

block content
  a.anchor#a-top
  div.container
    div.row#top
      h1 Python Environments
      div.
        This table lists available Python libraries for each supported environment.
      div.
        #[a(href="https://www.sagemath.org/") SageMath] is listed as a Python environment,
        because technically it is one.
        When used directly as a language, it enriches Python with additional syntax via a
        #[a(href="http://doc.sagemath.org/html/en/reference/repl/sage/repl/preparse.html") Preparser]
        and preloads useful objects into the namespace.
      div.
        Besides all the listed libraries you can install additional ones in your project.
      br/
      div.alert.alert-info.space.
        Learn more about #[strong #[a(href="./python.html") Python functionality on #{NAME}]] and
        #[strong #[a(href="./jupyter-notebook.html") Jupyter Notebook support]].

  +software-environment-table('python')
