//- for development, run $ env CC_COMP_ENV=true CC_STATICPAGES=true npm run webpack-debug

extends ../_base.pug

block vars
  - subtitle = NAME + " Python Environments"

block header
  meta(name="description" content=NAME + " Python Environments")

block content
  a.anchor#a-top
  div.container
    div.row#top
      h1 Python Environments
      div.
        This table lists available Python libraries with their respective versions.
        The header at the top lists the available environments.
        The left column describes the name and summary of the library.
      div.
        Besides the listed libraries, you can also install additional ones directly in your project.

  +software-environment-table('python')
