//- teaching landing page

extends ../_base.pug

block vars
  -
    navbar_active = 'features';
    subnavbar_active = 'teaching';
    subtitle = 'Online Teaching Environment';

block header
  meta(name="description" content=NAME + ' - ' + subtitle)
  script(type="text/javascript")
    include:coffee-script ../index.coffee

block content
  //- CSS overwrites styles defined in the header
  style
    :sass
      @import "webapp-lib/doc/_style.sass"

  a.anchor#a-top
  div.container
    div.row.intro#top
      div.col-sm-2.col-sm-offset-5.center
        // img(src="")).fit
      div.col-md-12.center
        h1 All about teaching with #{NAME}


  div.container
    div.row
      div.col-sm-6
        div
          // img(src="").fit
        div.center.
          Teaching
      div.col-sm-6
        p.
          #[a(href="https://doc.cocalc.com/teaching-instructors.html") Instructor guide]


  a.anchor#a-course
  div.container.space#course
    div.row
      div.col-md-12.center
        h2 Teaching Python
      div.col-sm-6
        div
          // img(src=require("")).fit
        div.center.
          Jupyter Notebook
      div.col-sm-6
        p.
          Teaching a course online via Jupyter Notebooks is challenging!

  +teaching-made-easy

  +start_free_banner
