include smc_pyutil/templates/linux/default.*
include smc_pyutil/templates/linux/bashrc
include smc_pyutil/templates/linux/bash_profile
include smc_pyutil/templates/darwin/default.*
include smc_pyutil/templates/darwin/bashrc
include smc_pyutil/templates/darwin/bash_profile
