//- footer at bottom of static pages

footer(style='fontSize:"small", color:"gray", padding: "20px 0"')
  hr/
  p.center
    | #{NAME}
    |

    if TOS_URL != ''
      | –
      |
      a(target="_blank" rel='noopener' href=TOS_URL) Terms of Service

    if CONTACT_EMAIL != ''
      |
      | –
      |
      a(href="mailto:"+CONTACT_EMAIL) Contact

div.center(style="margin-bottom: 6rem;")
  a(href=PREFIX + "app")
    +cocalc-rectangular