//- footer at bottom of static pages

footer(style="font-size:small;color:gray;text-align:center;padding:30px 0")
  hr/
  div.center(style="margin-bottom: 1rem;").
    #[a(href="https://github.com/sagemathinc/cocalc") Open-Source CoCalc]

  div.center(style="margin-bottom: 6rem;")
    a(href="app")
      img(src=require('!file-loader?mimetype=image/svg+xml!assets/open-cocalc-font-dark.svg') style="height: 3rem; width: auto;")