//- if we have a GA token, insert the google analytics async script
- var GOOGLE_ANALYTICS = htmlWebpackPlugin.options.GOOGLE_ANALYTICS
- var DNS = htmlWebpackPlugin.options.theme.DNS
if typeof GOOGLE_ANALYTICS !== "undefined" && GOOGLE_ANALYTICS !== null
    //--- Google Analytics ---
    script.
        //- Instructs analytics.js to use the name `google_analytics`.
        window.GoogleAnalyticsObject = 'google_analytics';
        //- Creates an initial analytics() function.
        //- The queued commands will be executed once analytics.js loads.
        window.google_analytics = window.google_analytics || function() {
          (google_analytics.q = google_analytics.q || []).push(arguments)
        };
        //- Sets the time (as an integer) this tag was executed.
        //- Used for timing hits.
        google_analytics.l = +new Date;
        //- Creates a default tracker with automatic cookie domain configuration.
        google_analytics('create', '#{GOOGLE_ANALYTICS}', 'auto');
        //- Sends a pageview hit from the tracker just created.
        google_analytics('send', 'pageview', location.pathname);

    //- Sets the `async` attribute to load the script asynchronously.
    script(async src='//www.google-analytics.com/analytics.js')
    //--- End Google Analytics ---

//- cocalc native analytics
script(type="text/javascript")
    include:typescript cocalc-analytics.ts
