doctype html
html
  head

    style
      :sass
        body
          font-family : sans-serif
          font-size   : 120%
          margin      : 3rem

    script(type="text/javascript")
      include:coffee-script loading.coffee

  body
    <div id="status"></div>