//- accessibility page, includes the statically react.js rendered _accessibility.html

extends ../_base.pug

block vars
  -
    var navbar_active = 'accessibility';
    var subtitle = 'Accessibility';
    var subnavbar_active = 'accessibility';

block content

  style
    :sass
      div#accessibility
        > table
          table-layout: fixed
          width: 100%
          tr
            > th:first-child,
            > td:first-child
              min-width: 60%
              width: 60%
          td
            padding: 5px 10px 5px 0
            vertical-align: top

  div.jumbotron
    div.container
      h1 #[a(href=URL) #{COMPANY_NAME}]
      h2 #{NAME} Accessibility (July 2019)
      a.btn.btn-default(href="index.html" role="button") &laquo; Other Policies

  div.container.vertical-expand#accessibility
    include _wcag_statement.html
    include:markdown-it accessibility.md
