<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="SageMathCloud">
        <meta name="author" content="William Stein">
        <title>SageMath, Inc. Pricing</title>
        <!--
        <link href="<%= require('!file!bootstrap-3.3.0/css/bootstrap.min.css') %>" rel="stylesheet">
        -->
         <!--
        <script type="text/javascript" src="/static/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/static/bootstrap-3.3.0/js/bootstrap.min.js"></script>
        -->
    </head>
    <body>
        <a target="_blank" class="pull-right" style="text-align:center" href="https://cloud.sagemath.com"><img  src="<%= require('!file!webapp-lib/favicon-96.png') %>" class="img-rounded"><br>
            SageMathCloud</a>
        <div class="jumbotron">
            <div class="container">
                <h1>
                    <a href="http://www.sagemath.com" target="_blank">SageMath, Inc.</a></h1>
                <h2>
                    SageMath, Inc. Subscriptions and Pricing (September 2016)
                </h2>
                <a class="btn btn-default" href="index.html" role="button">&laquo; Other Policies</a>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-offset-0"><p>
                    We charge for subscriptions using the pricing
                    below.  Listed prices are in US dollars (when
                    charging in local currency, the prices are
                    converted into local currency using the
                    conversion rates published by leading
                    financial institutions).
                    </p>

                    <p>

                    </p>


                    <p>
                        When logged in, you may sign up for a subscription in <a target="_blank" href="/settings/billing">the billing tab</a> and see a summary of upgrades in <a target="_blank" href="/settings/upgrades">the upgrades tab</a> below.
                    </p>
                    <p>
                        Learn more below about <b><a href="#projects">projects and upgrades</a></b> and
                        <b><a href="#faq">pricing and subscription options</a></b>.
                    </p>
                </div>
            </div>

            <hr>
            <!-- The React-rendered SubscriptionGrid component gets inserted below as
                part of the webpack static html plugin.
                The 'conservativeCollapse' is necessary, because react inserts one-space tags
                like <span> </span> everywhere ...
            -->

            <%= require('html?conservativeCollapse!./_static_pricing_page.html') %>

        </div>
    </body>
</html>
