//- privacy page

extends ../_base.pug

block vars
  - var navbar_active = 'policies';
  - var subtitle = 'Privacy Policy';
  - var subnavbar_active = 'privacy';

block content

  div.jumbotron
    div.container
      h1 #[a(href=URL) #{COMPANY_NAME}]
      h2 #{NAME} Privacy Policy
      a.btn.btn-default(href="index.html" role="button") &laquo; Other Policies


  div.container.vertical-expand
    div.row
      div.col-md-8

        p.
          Protecting your privacy is really important to us.
          With this in mind, we’re providing this Privacy Policy to explain our practices regarding the collection,
          use and disclosure of information that we receive through our Services.
          This Privacy Policy does not apply to any third-party websites, services or applications, even if they are accessible through our Services.
          Also, please note that, unless we define a term in this Privacy Policy, all capitalized terms used in this Privacy Policy have the same meanings as in our Terms of Service.
          So, please make sure that you have read and understand our Terms of Service.

        h1 Revisions to this Privacy Policy

        p.
          Any information that is collected via our Services is covered by the Privacy Policy in effect at the time such information is collected.
          We may revise this Privacy Policy from time to time.
          If we make any material changes to this Privacy Policy, we’ll notify you of those changes by posting them on the Services
          or by sending you an email or other notification, and we’ll update the "Revision history" below to indicate when those changes will become effective.

        include _sagemath_privacy_policy.html

        h1 Questions?

        p.
          Please contact us at #[a(href="mailto:" + COMPANY_EMAIL) #{COMPANY_EMAIL}] if you have any questions about our Privacy Policy.

