/* Antd's links are way too light according to
the Google Lighthouse accessibility guidelines. */

a {
  color: #1870cc;
}

.uppercase {
  text-transform: uppercase;
}

/* Hiding class, making content visible only to screen readers but not visually
  "sr" meaning "screen-reader" -- https://css-tricks.com/inclusively-hidden/
  Anything marked with this is entirely for accessibility reasons!
*/

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*
See https://wordpress.org/support/topic/katex-block-doesnt-break-formulas-into-lines/
This is also in packages/frontend/index.sass
*/
.katex-html {
  white-space: pre-wrap;
}
