.uppercase {
  text-transform: uppercase;
}

/* Hiding class, making content visible only to screen readers but not visually
  "sr" meaning "screen-reader" -- https://css-tricks.com/inclusively-hidden/
  Anything marked with this is entirely for accessibility reasons!
*/

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*
See https://wordpress.org/support/topic/katex-block-doesnt-break-formulas-into-lines/
This is also in packages/frontend/index.sass
*/
.katex-html {
  white-space: pre-wrap;
}

/* To match the app and let us uniformly change all the font colors with slate.
    Antd hard codes the colors of the heading tags. */

h1 {
  font-size: 250%;
  color: inherit;
}
h2 {
  font-size: 200%;
  color: inherit;
}
h3 {
  font-size: 170%;
  color: inherit;
}
h4 {
  font-size: 150%;
  color: inherit;
}
h5 {
  font-size: 130%;
  color: inherit;
}
h6 {
  font-size: 110%;
  color: inherit;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}
