.salvus-templates {
    display:none;
}

.salvus-worksheet {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.salvus-cell {
}

.salvus-cell-input {
    padding: 5px;
    font-family: "Courier New";
    background-color:#fff;
}

.salvus-cell-output {
    border-top: 1px solid lightgrey;
    padding: 5px;
    font-family: "Courier New";
    background-color:#fff;
}

