.salvus-3d-container {
    margin-left : 3em;
    cursor      : pointer;
}

.salvus-3d-canvas {
}

.salvus-3d-note {
    border        : 1px solid #aaa;
    padding       : 3px;
    border-radius : 2px;
    background    : #fafafa;
    box-shadow: 1px 1px 2px;
}