.smc-wizard
  > div
    min-width: 60vw

    > div.modal-content

      div.modal-header
        padding-top: 0

      div.modal-header + div
        margin: 1em

      div.smc-wizard-descr,
      pre.code
        min-height: 200px
