.popover-create-account {
    width: 400px;
    background-color: #ff0077;
}

.account-error-text {
    color: #ff0000;
}

.salvus-password-meter {
}

.salvus_client_version_warning {
    position: fixed;
    left: 12px;
    background-color: #f00;
    color: white;
    color: white;
    top: 20px;
    opacity: 0.8;
    border-radius: 4px;
    padding: 5px;
    z-index: 1;
}