.CodeMirror {
    height           : auto;
    background-color : #ffffe8;
}

.CodeMirror-scroll {
    height     : auto;
    overflow-y : hidden;
    overflow-x : auto;
}


.salvus-cell {
    border     : 1px solid grey;
    background : white;
}

.salvus-cell-selected {
    border: 1px solid #99f;
    box-shadow: 4px 4px 2px #bbf;
}

.salvus-cell-note {
    background-color : #fff;
    color            : #333;
    border           : 1px solid white;
    min-height       : 1.5em;
    overflow-y       : auto;
}

.salvus-cell-editor {
    min-height:1.5em;
    border: 2px solid #e0e0e0;
}

.salvus-cell-output {
    background-color:#f8f8f8;
    overflow-y: auto;
    overflow-x: auto;
}

.salvus-cell-output-stdout {
    color       : #11a;
    white-space : pre;
}

.salvus-cell-output-stderr {
    color       : #a00;
    white-space : pre;
}