.CodeMirror {
    height           : auto;
    background-color : #ffffef;
}

.CodeMirror-scroll {
    height     : auto;
    overflow-y : hidden;
    overflow-x : auto;
}

.salvus-cell {
}

.salvus-cell-note {
    background-color : #fff;
    color            : #333;
    border           : 1px solid white;
    min-height       : 1.5em;
    overflow-y       : auto;
}

.salvus-cell-insert-above {
    height: 3px;
}

.salvus-cell-insert-above:hover {
    background-color : #99f;
}

.salvus-cell-insert-below {
    height: 3px;
}

.salvus-cell-insert-below:hover {
    background-color : #99f;
}


.salvus-cell-note:hover {
    border: 1px dashed #999;
}

.salvus-cell-input {
    min-height       : 1.5em;
    border           : 2px solid #e0e0e0;
}

.salvus-cell-input-selected {
    min-height       : 1.5em;
    border: 2px solid #99f;
    box-shadow: 3px 3px 1px #bbf;
}

.salvus-cell-output {
    background-color : #fafafa;
    overflow-y       : auto;
    overflow-x       : auto;
}

.salvus-cell-output-stdout {
    font-family : "Courier New";
    color       : #11a;
    white-space : pre;
}

.salvus-cell-output-stderr {
    font-family : "Courier New";
    color       : #a00;
    white-space : pre;
}

.salvus-cell-output-html {
}

.salvus-cell-output-tex {
}

.salvus-cell-output-interact {
    padding: 1em;
    margin: 1em;
    background-color: white;
    border: 1px solid #e0e0e0;
    box-shadow: 3px 3px 1px #ccc;
}

.salvus-cell-checkbox {
    position:absolute;
    margin-left:-1.1em;
    margin-top:.1em;
/*    border: 1px solid #white; */
}

.salvus-cell-checkbox:hover {
/*    border: 1px dashed #888; */
}

/*.salvus-cell-checkbox {
    border : 1px solid #999;
    width: 1em;
    height: 1.35em;
    margin-left:-1.2em;
    margin-top:.3em;
    position:absolute;
}

.salvus-cell-checkbox:hover {
    border : 1px dashed #777;
}
*/

.salvus-cell-stopwatch {
    margin-left : -11ex;
    position    : absolute;
    font-size   : 10pt;
    padding     : 1px;
    color       : #222;
    background-color : #ddd;
    opacity     : 0.5;
}

.salvus-cell-stopwatch-running {
    background-color : #8f8;
}

.salvus-cell-stopwatch-waiting {
    background-color : #ff8;
}


.salvus-cell-introspect {
    padding          : 0px;

    background-color : #eee;
    z-index          : 999;
    position         : absolute;
    opacity          : 0.92;

    width            : 100ex;

    border           : 2px solid grey;
    box-shadow       : 8px 8px 4px #888;
}

.salvus-cell-introspect-title {
    font-size        : 18pt;
    padding          : 1ex;
    border-bottom    : 1px solid grey;
}

.salvus-cell-introspect-content {
    font-size        : 10pt;
    font-family      : "Courier New";
    background-color : #fffff8;
    white-space      : pre;
    padding          : 1ex;
    max-height       : 600px;
    overflow         : auto;
}

.salvus-cell-introspect-close {
    font-size : 20pt;
    padding-right:1ex;
    padding-top:.8ex;
}

.salvus-cell-introspect-close:hover {
    color            : white;
    background-color :  orange;
}


.salvus-cell-interact-control-grid {
    border : 1px solid grey;
    display: inline-block;
    margin: 1ex;
    padding: 1ex;
    box-shadow: 3px 3px 1px #ccc;
}
