.salvus-console {
    border           : 1px solid #aaa;
    background-color : #fff;
    padding          : 10px;
    margin           : 10px;
    box-shadow       : 6px 6px 3px #888;
    padding-bottom   : 25px;
}

.salvus-console-title {
    border-bottom: 1px solid #aaa;
}

.salvus-console-description {
   color : #888;
}

 .salvus-console-terminal {
     border: #fff solid 7px;
     font-family: Courier, "Courier New", monospace;
     font-size: 13px;
     box-shadow: rgba(0, 0, 0, 0.8) 2px 2px 20px;
}

.salvus-console-cursor  {
    color: #000;
    background: #000;
}

