.salvus-console {
    border           : 1px solid #aaa;
    background-color : #eaeaea;
    padding          : 10px;
    margin           : 10px;
    box-shadow       : 6px 6px 3px #888;
    padding-bottom   : 25px;
}

.salvus-console-title {
    border-bottom: 1px solid #aaa;
}

.salvus-console-description {
   color : #888;
}

.salvus-console-terminal {
     border: 1px solid orange;
     font-family: Courier, "Courier New", monospace;
     font-size: 13px;
     padding: 5px;
}

.salvus-console-cursor  {
    color: #000;
    background: #000;
}

.salvus-console-countdown {
    padding: 1ex;
    color: #888;
}

.salvus-console-textarea {
/*    position:absolute;
    opacity:.3; */
}


