.special {
    color : #f00;
}

.salvus-console {
    background-color : #eaeaea;
    padding          : 0px;
    margin           : 0px;
    width            : 100%;
    border: 0px solid black;
}
.salvus-console-topbar {
    padding: 0px;
    margin : 0px;
    height : 26px;
    overflow : hidden;
    border-bottom : 1px solid #aaa;
}

.salvus-console-filename {
    padding       : 10px;
    font-size     : 14pt;
    font-weight   : bold;
    overflow      : hidden;
    color:#555;
    max-width : 30%;
    padding-top: 4px;
}

.salvus-console-title {
    padding       : 10px;
    font-size     : 14pt;
    font-weight   : bold;
    overflow      : hidden;
    color:#555;
    max-width : 30%;
    padding-top: 4px;
}

.salvus-console-description {
   color : #888;
}

.salvus-console-for-mobile {
    position:absolute;
    opacity:0;
    color:#fff;
}

.salvus-console-terminal {
     font-family: Courier, "Courier New", monospace;
     padding: 0px;
     margin: 0px;
}

.salvus-console-cursor-blur  {
   border:1px solid grey;
   border-radius: 3px;
}

.salvus-console-cursor-focus  {
  -webkit-animation: salvus-cursor-blink 1.3s linear 0s infinite;
  -moz-animation: salvus-cursor-blink 1.3s linear 0s infinite;
  -ms-animation: salvus-cursor-blink 1.3s linear 0s infinite;
  -o-animation: salvus-cursor-blink 1.3s linear 0s infinite;
  background: #000; color:#fff;  /* Fallback for browsers without animation support */
}

@-webkit-keyframes salvus-cursor-blink {
  0%   { background: #000; color:#fff; }
  40%  { background: #000; color:#fff; }
  50%  { background: #fff; color:#000; }
  90%  { background: #fff; color:#000; }
}

@-moz-keyframes salvus-cursor-blink {
  0%   { background: #000; color:#fff; }
  40%  { background: #000; color:#fff; }
  50%  { background: #fff; color:#000; }
  90%  { background: #fff; color:#000; }
}

@-ms-keyframes salvus-cursor-blink {
  0%   { background: #000; color:#fff; }
  40%  { background: #000; color:#fff; }
  50%  { background: #fff; color:#000; }
  90%  { background: #fff; color:#000; }
}

@-o-keyframes salvus-cursor-blink {
  0%   { background: #000; color:#fff; }
  40%  { background: #000; color:#fff; }
  50%  { background: #fff; color:#000; }
  90%  { background: #fff; color:#000; }
}


.salvus-console-textarea {
    height:0px;
    width:0px;
    border:0px solid white;
    opacity:0;
    position:fixed;
}

.salvus-console-focus {
    background-color: #ffffe8;
}

.salvus-console-blur {
    background-color: #ccc;
}

.salvus-console-paste-bin {
    height : 1.2em;
    padding-top:-4px;
    padding-bottom: 1px;
    width : 11em;
    overflow: hidden;
}