.salvus-course-editor {
    overflow-y    : auto;
    overflow-x    : hidden;
    margin-bottom : 2em;
    padding-right : 2em;
    padding-left  : 2em;
    background    : white;

}

.salvus-course-editor-title {
    font-size:18pt;
    font-weight: bold;
}

.salvus-course-editor-description {
    font-size:12pt;
}

.salvus-course-editor-location {
    font-size:12pt;
}
