.salvus-course-student {
    background : white;
}


.salvus-course-editor {
    overflow-y    : auto;
    overflow-x    : hidden;
    margin-bottom : 2em;
    background    : white;
    width         : 100%;
}

.salvus-course-editor-title {
    font-size:18pt;
    font-weight: bold;
}

.salvus-course-editor-description {
    font-size:12pt;
}

.salvus-course-editor-location {
    font-size:12pt;
}

.salvus-course-heading {
    font-weight: bold;
    color : #666;
}