/*

Editor for files in a project

*/

.salvus-editor-content {
    margin-left:1em;
}

.salvus-editor-close-button-x {
   font-size: 18px;
   margin-left:5px;
}

.salvus-editor-close-button-x:hover {
    margin-left:5px;
    color: #fff;
    background-color:orange;
    font-size: 18px;
}

.salvus-editor-codemirror {
    /*
    border: 1px solid #aaa;
    box-shadow: 6px 6px 3px #888;
    margin-top: 0px;
    */
    padding:5px;
}

.salvus-editor-button-bar {
    margin-bottom:0em;
}

.salvus-editor-input-box {
    border: 3px solid #9a9;
    border-radius: 5px;
}

.salvus-editor-pdf-preview-page {
    margin:1em;
    background-color:#eee;
    width:100%;
    border: 1px solid #aaa;
    border-bottom:5px solid #aaa;
    overflow-y:auto;
    padding:5px;
}

.salvus-editor-pdf-preview-image {
    margin:1em;
    background-color:#fff;
    border:1px solid aaa;
    width:95%;
    box-shadow: 3px 3px 3px 3px #888;
}