/*

Editor for files in a project

*/

.salvus-editor-content {
    position: fixed;
    top: 78px;
    left: 0;
    margin: 0;
    width: 100%;
    padding: 0;
}

.salvus-editor-close-button-x {
    font-size: 14px;
}

.salvus-editor-close-button-x:hover {
    color: #fff;
    background-color:orange;
    font-size: 14px;
}

.salvus-editor-codemirror {
    position:fixed;
    width:100%;
    padding:0px;
}

.salvus-editor-codemirror-button-row {
    margin-top: 1px;
    height:30px;
}

.salvus-editor-codemirror-filename {
    margin-left:3em;
    font-size: 14pt;
    font-weight: bold;
    color:#555;
}

.salvus-editor-codemirror-cursor {
    position: absolute;
    width:15em;
}

.salvus-editor-codemirror-cursor-inside {
    position:absolute;
    top:-1.3em;
    left:.5ex;
    height:1.15em;
    width:.1ex;
    border-left: 2px solid black;
    border: 1px solid #aaa;
    opacity:.7;
}

.salvus-editor-codemirror-cursor-label {
    position:absolute;
    top:-2.9em;
    left:1.5ex;
    font-size:8pt;
    font-family:serif;
}

.salvus-editor-button-bar {
    margin-bottom : 0em;
}

.salvus-editor-codemirror-input-box {
    /*border: 2px solid #9a9;
    border-radius: 5px;*/
}

.salvus-editor-codemirror-sync {
    font-size:13pt;
    color:#bbb;
}

.salvus-editor-pdf-preview {
    border: 2px solid #888;
}

.salvus-editor-pdf-preview-page {
    border: 2px solid #888;
    background-color:#eee;
    border: 3px solid #aaa;
    overflow-x:hidden;
    overflow-y:scroll;
}

.salvus-editor-pdf-preview-image {
    margin:1em;
    background-color:#fff;
    border:1px solid aaa;
    /* width:95%; */
    box-shadow: 5px 5px 5px 5px #888;
}

.salvus-editor-search-openfiles-input {
    width:100%;
}

.salvus-editor-openfile-excluded-from-search {
    opacity:.6;
}

.salvus-editor-openfile-included-in-search {
    border-radius:6px;
    border: 1px solid #aaa;
    box-shadow: 2px 2px 2px 2px #bbb;
}

.salvus-editor-codemirror-chat-column {
    position: fixed;
    background-color: white;
    right: 0px;
    width:25%;
}

.salvus-editor-codemirror-chat {
    margin:0px;
    padding:0px;
    width:100%;
    border: 2px solid #9a9;
    border-radius: 5px;
}

.salvus-editor-chat-title {
    color     : #666;
    font-size : 18pt;
    font-weight: bold;
    margin-right: 1em;
}

.salvus-editor-codemirror-chat-output {
    padding:2%;
    margin:0ex;
    width:100%;
    height:76%;
    position: absolute;
    overflow-y:auto;
    overflow-x:hidden;
    overflow-wrap: break-word;
    background-color:#fafafa;
}

.salvus-editor-codemirror-chat-input {
    padding:2%;
    margin:0px;
    top:80%;
    height:16%;
    width:100%;
    position : absolute;
}

.salvus-chat-entry {
}

.salvus-chat-header {
    padding-top:3px;
    border-top:solid 1px #ddd;
}

.salvus-chat-header-name {
    font-weight:bold;
}

.salvus-chat-header-date {
    font-size: 9pt;
    color:#999;
}

.salvus-editor-chat-new-chats {
    color:orange;
}