/*

Editor for files in a project

*/

.salvus-editor-content {
    margin-left:1em;
}

.salvus-editor-close-button-x {
    font-size: 18px;
    margin-left:5px;
}

.salvus-editor-close-button-x:hover {
    margin-left:5px;
    color: #fff;
    background-color:orange;
    font-size: 18px;
}

.salvus-editor-codemirror {
    border: 1px solid #aaa;
    box-shadow: 6px 6px 3px #888;
    margin-top: 0px;
    padding:5px;
}

.salvus-editor-codemirror-cursor {
    position: absolute;
    width:15em;
}

.salvus-editor-codemirror-cursor-inside {
    position:absolute;
    top:-1.3em;
    left:.5ex;
    height:1.15em;
    width:1.1ex;
    border-left: 2px solid black;
    border: 1px solid #aaa;
    opacity:.7;
}

.salvus-editor-codemirror-cursor-label {
    position:absolute;
    top:-2.9em;
    left:1.5ex;
    font-size:8pt;
    font-family:serif;
}

.salvus-editor-codemirror-chat {
    margin:0px;
    padding:0px;
    width:100%;
    border: 3px solid #9a9;
    border-radius: 5px;
}

.salvus-editor-codemirror-chat-output {
    padding:0px;
    margin:0ex;
    width:100%;
    height:90%;
    overflow-y:auto;
    overflow-x:hidden;
    overflow-wrap: break-word;
    background-color:#fafafa;
}

.salvus-editor-codemirror-chat-input {
    padding:0px;
    margin:0px;
    height:10%;
    width:100%;
    background-color:#fdf6e3;
}

.salvus-chat-entry {
}

.salvus-chat-header {
    padding-top:2px;
    border-top:dashed 1px #bbb;
}

.salvus-chat-header-name {
    font-weight:bold;
}

.salvus-chat-header-date {
    font-size: 9pt;
    color:#999;
}




.salvus-editor-button-bar {
    margin-bottom : 0em;
}

.salvus-editor-codemirror-input-box {
    border: 3px solid #9a9;
    border-radius: 5px;
}

.salvus-editor-pdf-preview {
    border: 2px solid #888;
}

.salvus-editor-pdf-preview-page {
    border: 2px solid #888;
    background-color:#eee;
    border: 3px solid #aaa;
    overflow-x:hidden;
    overflow-y:scroll;
}

.salvus-editor-pdf-preview-image {
    margin:1em;
    background-color:#fff;
    border:1px solid aaa;
    width:95%;
    box-shadow: 3px 3px 3px 3px #888;
}