@font-face {
  font-family: droid-sans-mono;
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans Mono'), local('DroidSansMono'), url('fonts/droid/DroidSansMono.ttf') format('truetype');
}

help.css
misc_page.css
console.css

account.css
projects.css
project.css
editor.css
tasks.css
interact.css
explore.css
consoles.css
top_navbar.css
3d.css

.hide {
    display: none;
}

.tt {
    font-family: monospace;
}

.lighten {
    color: #666;
}

.small {
    font-size:9pt;
}

.smallish {
    font-size:10pt;
}

.large {
    font-size:16pt;
}

.Large {
    font-size:18pt;
}

.huge {
    font-size:22pt;
}

.bold {
    font-weight: bold;
}

.close {
    font-size:20pt;
}


.center {
    text-align:center;
}


body { padding-top:43px; }

.not-big {
    display: none;
}

/* mezzo-small, larger than xs, smaller than sm, like the old tasklist button size */
.btn-ms {
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    letter-spacing: normal;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: -1px;
    margin-right: 0px;
    margin-top: 0px;
    font-size: 11.9px;
}

@media (max-width: 767px) {
    .big-only {
        display:none;
    }

    .not-big {
        display:inline;
    }

    .salvus-project {
        position: relative !important;
        top: 0px !important;
    }
}

/* so on iOS scroll-into-view modals work */
@media (max-width: 480px)
{
    .modal.fade.in {
        top: 10px;
  }
}

/* Use small-only for content that should only be shown on very small
   devices, e.g., smart phones, and use big-only for content that is
   only shown on tablets and desktops */

@media (max-width: 480px) {
  .big-only {
    display:none;
  }
  .not-small {
    display:none;
  }
}

@media (min-width: 481px) {
  .small-only {
    display:none;
  }
}

/* This is a hack to accurately determine if the screen is displaying in responsive mode.
   When responsive mode, .salvus-responsive-mode-test will have a width of 767px and in full size the
   width will be 10000px. */
@media (max-width: 767px) {
    .salvus-responsive-mode-test {
        width: 767px;
    }
}

@media (min-width: 768px) {
    .salvus-responsive-mode-test {
        width: 10000px;
    }
}





.ui-pnotify-history-container {
    position: fixed;
}

/* The following makes it so the codemirror cursor is visible to the naked eye.
   I do not understand how anybody can stand the default nearly-invisible vertical line. */
/*.CodeMirror div.CodeMirror-cursor {
  background-color:#000 !important;
  width:1ex !important;
  opacity:0.5;
}
*/

.CodeMirror {
  line-height: normal;
}

.CodeMirror-wrap {
  line-height: normal;
}


/* see http://stackoverflow.com/questions/271067/how-can-i-make-a-textarea-100-width-without-overflowing-when-padding-is-present */
.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


.highlight {
    background-color: orange;
    padding: 3px;
    margin: -3px;
    border-radius: 3px;
}

/* fix bootstrap ugliness */

code  {
    color: #444;
}

blockquote p {
    font-size: 15px;
}

.constrained {
    max-width: 1170px;
}

.modal h3 {
    margin: 0;
}

.modal-footer {
    padding: 5px;
}

input[type="text"], select {
    margin-bottom: 10px;
}

.btn {
    white-space: normal;
}

.tooltip {
    font-size: 11px;
}

.checkbox {
    margin-top: 4px;
    margin-bottom: 4px;
}