
.salvus-completions {
  background: lightyellow;
  position: absolute;
  z-index: 999;
  overflow: hidden;
  box-shadow: 8px 8px 4px #bbb;
  border: 3px solid #99f;
  border-radius: 5px;
}

.salvus-completions select {
  background: lightyellow;
  outline: none;
  border: none;
  padding: 3px;
  margin: 3px;
  font-family: monospace;
}

.salvus-codemirror-introspect {
    z-index : 100;
    width:60%;
    padding:0px;
    box-shadow: 3px 6px 6px 6px #aaa;
}

.salvus-codemirror-introspect-title {
    font-size        : 18pt;
    padding          : 1ex;
    border-bottom    : 1px solid grey;
}

.salvus-codemirror-introspect-content {
    font-size        : 10pt;
    font-family      : "Courier New";
    background-color : #fffff8;
    white-space      : pre;
    padding          : 1ex;
    max-height       : 600px;
    overflow         : auto;
}

.salvus-codemirror-introspect-close {
    font-size : 20pt;
}

.salvus-codemirror-introspect-close:hover {
    color            : white;
    background-color :  orange;
}

/* See https://github.com/twitter/bootstrap/issues/2764 */

.nav-tabs>.disabled>a, .nav-pills>.disabled>a {
    color: #999;
    cursor: default;
    border: none; /** add this for tabs/pills **/
}

.nav-tabs>.disabled>a:hover, .nav-pills>.disabled>a:hover {
    background-color: transparent;
}
