#projects {
    margin-top: 1em;
}

.your-projects-title {
    font-size: 18pt;
    font-weight:bold;
    line-height: 18pt;
}

.project-link {
    background-color:#ffffff;
    margin-top:0px;
    margin-bottom:0px;

    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 1em;

    cursor:pointer;
}

.project-link:hover {
    background-color:#efe;
}

.projects-title {
    font-weight: bold;
    max-height: 7em;
    overflow-y: auto;
}

.projects-last_edited, .projects-description {
    color: #666;
    max-height: 7em;
    overflow-y: auto;
}

.projects-active {
    color:red;
    font-size:13pt;
}

.project-file-top-current-path-container {
    width: 100%;
}

.projects-describe-listing {
    margin-bottom: 1ex;
    margin-top: 1ex;
    font-weight:bold;
    font-size:15pt;
}

.projects-users {
    margin-left:0px;
    max-height: 7em;
    overflow-y: auto;
}

.projects-project_list_item_template {
    word-wrap: break-word;
}