.project-file-link {
    background-color:#ffffff;
    margin-top:0px;
    margin-bottom:0px;
}

.project-file-link:hover {
    background-color:#efe;
}

.project-directory-link {
    background-color:#ffffff;
    margin-top:0px;
    margin-bottom:0px;
}

.project-directory-link:hover {
    background-color:#efe;
}


.project-project_title {
    font-size:18pt;
}

.project-project_description {
    font-size:12pt;
    color: #666;
}

.project-file-listing-cwd {
    background-color:#fff;
    font-size:12pt;
    font-weight:bold;
}

.project-new-file-icon {
}

.project-new-file-icon:hover {
    background-color:#efe;
}

.project-home-icon {
}

.project-home-icon:hover {
    background-color:#efe;
}

.project-commits-branch {
    font-weight:bold;
    width:12ex;
}

.project-commit-single-message {
    font-size: 12pt;
    font-weight: bold;
}

.project-commit-single-author {
    font-size: 9pt;
}

.project-commit-single-date {
    font-size: 9pt;
}


.project-commit-single-sha {
    font-family: monospace;
    font-size: 9pt;
}

.project-commit-single {
    background-color:#ffffff;
    margin-top:0px;
    margin-bottom:0px;
}

.project-commit-single:hover {
    background-color:#efe;
}

.project-branch-single {
    background-color:#ffffff;
    margin-top:0px;
    margin-bottom:0px;
}

.project-branch-single-current {
    background-color:#9f9;
}


.project-branch-single-name {
    font-weight:bold;
}

.project-file-listing-current_path {
    margin-left:25px;
}

.project-move-path-dialog-filename {
    background-color:#fff;
    padding:5px;
    border: 1px solid #aaa;
}


.project-command-line-input {
    width:50%;
}

.project-command-line-stdout {
    margin-left:5ex;
    background-color:#fff;
    color:#333;
    font-size:10pt;
    max-height:12em;
    overflow:auto;
}
.project-command-line-stderr {
    background-color:#fff;
    color:#922;
    font-size:10pt;
    max-height:12em;
    overflow:auto;
}

