.salvus-tasks-new {
    background-color:white;
}

.salvus-task {
    background-color: white;
    padding-left: 1ex;
    padding-bottom: 0ex;
    padding-right: 0em;
    padding-top: 1ex;
    cursor : pointer;
    border-left: 2px solid #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}


.salvus-task:hover {
    background-color:#efe;
}

.salvus-task-done {
}

.salvus-task-title:hover {
    cursor : text;
    color : #000;
}

.salvus-tasks-title-edit {
    width: 98%
}

.salvus-task-icon {
    color:#555;
}

.salvus-task-icon:hover {
    color:#08c
}

.salvus-task-viewer {
    color: #444;
}

.salvus-current-task {
    border-left: 2px solid #08c;
}

.salvus-tasks-search-describe {
    margin-top: 4px;
    font-size: 14pt;
    padding-bottom: 1ex;
}

.salvus-new-task-cm-editor {
    margin-bottom: 1em;
    min-height : 2em;
    height: auto;
    padding-left: 1ex;
    padding-right: 1ex;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

.salvus-new-task-cm-editor-focus {
    border-color: #51a7e8;
    box-shadow: inset 0 0 5px rgba(81,167,232,0.5);
}

.salvus-new-task-cm-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}

.salvus-tasks-list-heading {
    padding-left: .8ex;
    font-size: 11pt;
    cursor: pointer;
}

.salvus-tasks-header {
    border-right: 1px solid grey;
    padding-right: 10px;
}

.salvus-tasks-list {
    overflow-y:auto;
    margin-bottom:2em;
}

.salvus-task-active-icon {
    color: #bbb;
}

.salvus-task-active-icon:hover {
    color: #3f3;
}

.salvus-task-reorder-handle:hover {
    color: #51a7e8
}

.salvus-task-active-icon-active {
    color: #3f3;
}

.salvus-task-active-icon-active:hover {
    color: #bbb;
}


.salvus-task-toggle-icon {
    color: #888;
}

.salvus-task-active-icon:hover {
    color: #222;
}

.salvus-task-last-edited {
    color:#888;
    font-size:8pt;
}

.salvus-task-due {
    color:#888;
    font-size:8pt;
}

.salvus-task-to-top-icon {
    font-size: 9pt;
}


.salvus-task-to-bottom-icon {
   font-size: 9pt;
}

.salvus-task-deleted {
    color : red;
}