.salvus-tasks-new {
    background-color:white;
}

.salvus-task {
    background-color: white;
    padding-left: 1ex;
    padding-bottom: 0ex;
    padding-right: 0em;
    padding-top: 1ex;
    cursor : pointer;
    border-left: 2px solid #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}


.salvus-task:hover {
    background-color:#efe;
}

.salvus-task-title:hover {
    cursor : text;
    color : #000;
}

.salvus-tasks-title-edit {
    width: 98%
}

.salvus-task-icon {
}

.salvus-task-icon:hover {
    color:#08c
}

.salvus-task-viewer {
    color: #444;
}

.salvus-current-task {
    border-left: 2px solid #08c;
}

.salvus-tasks-search-describe {
    margin-top: 4px;
    font-size: 14pt;
    padding-bottom: 1em;
}


