.close-button-x {
    font-size: 18px;
}

.close-button-x:hover {
    color: #fff;
    font-size: 18px;
}

.navbar-big {
    font-size:18px;
}

.salvus-connection-status {
    width     : 7em;
    font-size : 9pt;
    line-height: 10pt;
    margin-top: 10pt;
}

.salvus-top_navbar {
    font-size: 14px;
}