.salvus-worksheet {
    border           : 2px solid #aaa;
    background-color : #fff;
    padding          : 10px;
    margin           : 10px;
    box-shadow       : 6px 6px 3px #888;
    padding-bottom   : 25px;
 /*   overflow: auto;
    max-height: 40em; */
}

.salvus-worksheet-running {
    border : 2px dashed #8a8;
}

.salvus-worksheet-cells {
   /* border   : 1px solid #888; */
}

.salvus-worksheet-title {
}

.salvus-worksheet-description {
   color : #888;
}

