.CodeMirror {
    height:auto;
    background-color: #ffffff;
/*    box-shadow: 3px 3px 2px #888;*/
}

.CodeMirror-scroll {
  max-height: 30em;
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}

.salvus-input-cell-focus {
    border: 1px solid #88f;
}

.salvus-input-cell-blur {
    border: 1px solid #bbb;
}

.salvus-templates {
    display:none;
}

.salvus-worksheet {
    border: 1px solid #aaa;
    background-color:#fff;
    padding: 10px;
    margin: 10px;
    box-shadow: 10px 10px 5px #888;
    padding-bottom:25px;
}

pre {
    padding:0px;
    margin:0px;
}

.salvus-cell {
   /* border-top:1px dashed #ddd; */
}

.salvus-cell-note {
    background-color:#fff;
    color:#333;
    border: 1px solid white;
    min-height:1.5em;
}

.salvus-cell-note:hover {
    border: 1px dashed #aaa;
}

.salvus-prompt {
    font-family: "Monaco";
    width:3ex;
    color:#00a;
    padding:2px;
}

.salvus-running {
    width:20ex;
    padding-left:5px;    
    color:#448;
    text-decoration:blink;
}

.salvus-prompt:hover {
}

.salvus-cell-input {
}

.salvus-cell-output {
    padding-left:30px;
    padding-top:3px;
    max-height: 30em;
    height: auto;
    overflow-y: auto;
    overflow-x: auto;
  /*  background-color:#f8f8f8; */
}

.salvus-stdout {
    font-family: "Courier New";
    color:#33a;
    white-space: pre; 
/*    white-space:pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;*/
}

.salvus-stderr {
    font-family: "Courier New";
    color:#a00;
    white-space: pre; 
    word-wrap: break-word;
}

.salvus-worksheet-buttons {
}

.salvus-worksheet-title {
}

.salvus-worksheet-description {
   color:#888;
}
