.salvus-templates {
    display:none;
}

.salvus-worksheet {
    border: 1px solid #aaa;
    background-color:#fff;
    padding: 10px;
    margin: 10px;
    box-shadow: 10px 10px 5px #888;
    padding-bottom:25px;
}

.salvus-cell {
   /* border-top:1px dashed #ddd; */
}

.salvus-cell-note {
    background-color:#fff;
    font-family: "Verdana";
    color:#000;
    width:98%;
}

.salvus-prompt {
    font-family: "Monaco";
    width:2ex;
    color:#00a;
    padding:2px;
}

.salvus-cell-input {
    font-family: "Monaco";
    width:90%;
    padding:2px;
}

.salvus-cell-output {
    font-family: "Monaco";
    color:#666;
    white-space: pre; 
    word-wrap: break-word;
}

