<!doctype html>
<html>
<head>

<!-- jquery -->
<script type="text/javascript" src="static/jquery/jquery.min.js"></script>

<!-- jquery-ui -->
<script type="text/javascript" src="static/jquery-ui/js/jquery-ui.min.js"></script>
<!-- <link rel="stylesheet" href="static/jquery-ui/css/pepper-grinder/jquery-ui.css"> -->
<link rel="stylesheet" href="static/jquery-ui/css/smoothness/jquery-ui.css"> 

<!-- socket.io -->
<script type="text/javascript" src="static/socketio/socket.io.js"></script>

<!-- codemirror -->
<link rel="stylesheet" href="static/codemirror/codemirror.css">
<script type="text/javascript" src="static/codemirror/codemirror.js"></script>
<script type="text/javascript" src="static/codemirror/mode/python.js"></script>



<style type="text/css">
      body {
        margin:0;
        padding:0;
        height:200;
      }

      .CodeMirror-scroll {
        height: auto; 
/*        width: 100%; */
      }

      .CodeMirror {
        border: 1px solid #eee;
        overflow-x: auto;
        overflow-y: auto; 
        background-color: #ffffff;    
      }

      .CodeMirror-focused {
	  border: 1px solid #99f; 
          background-color: #fffff0;    
          max-height:100em;
      }

      .CodeMirror-gutter  {
          z-index:0;
      }


      .sagews-document {
      }

      .sagews-document-scroll {
          height:20em;
      }


      .sagews-stdin {

      }

      .sagews-stdin-scroll {
	max-height:10em;
      }

      .sagews-stderr {
        background-color:#faa;
        font-weight:bold;
        max-height:10em;
      }

      .sagews-stdout {
        background-color:#fafafa;
	max-height:10em; 
      }

      .sagews-cells {
	  height:15em;
	  overflow:auto;
	  padding:1;
	  border: 3px solid #000;
      }

      .sagews-cmdline {
          height:15em;
	  overflow:auto;
	  width:100%;
      }

      /* make buttons smaller*/
      .ui-button.ui-widget .ui-button-text{ line-height:1em; font-size:small }

      .wrap {  /* see http://www.longren.org/wrapping-text-inside-pre-tags/ */
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
       }

      .sagews-status {
        background-color:#faa;
	height:15em;
	font-size:small;
      } 

</style>

<script type="text/javascript" src="static/backend.js"></script>
<script type="text/javascript">

function walltime() { return (new Date()).getTime(); }

function is_whitespace(s) { return s.replace(/\s/g,"") === ""; }

$(function() {

/*    $('body').keydown(function(event) { 
	if (event.which == 13 && event.shiftKey) {
	    execute_code_cell('#cell-0');
	    return false;
	} else if (event.which == 67 && event.ctrlKey) {
	    sigint();
	    return false;
	}
    });
*/
    
    /* I do not understand why the following is not same as "    ", but it isn't! */
    var TAB = ' ' + ' ' + ' ' + ' ';

    var completions = $('#completions');
    completions.css({position:'absolute', 'z-index':2}
    ).hide(
    ).keyup(function(e) {
	if (e.keyCode === 27) { console.log('esc'); completions.data('finish')(''); }  /* esc */
	if (e.keyCode == 8) { return false;}
	/*if (e.keyCode == 8 && !completions[0].value) { completions.data('finish')(); } *//* backspace */
    }).keydown(function(e) {
	if (e.keyCode === 13) {
	    completions.data('finish')(completions[0].value);  
	    return false;
	}
	if (e.keyCode == 9) { /* tab */
	    return false;
	}
    }).autocomplete({
	close:function (event, ui) { 
	    completions.data('finish')();
	}
    });

    $('#completions_error').hide().dialog({
          autoOpen:false, show:'slide', hide:'slide', minWidth:450});

    $('#help_window').hide().dialog({
          autoOpen:false, show:'slide', hide:'slide', minWidth:600});

    // TODO: vargs
    function call_ifdef(selector, name, a1, a2) {
        var obj = $(selector);
        var f = obj.data(name);
        if (typeof f === 'undefined') return;
        if (typeof a2 === 'undefined') { f(a1); return; }
        if (typeof a1 === 'undefined') { f(); return; }
        f(a1,a2);
    }

    var options = {
	set:function(selector, value) { call_ifdef(selector, 'set', value); },
        mesg:function(selector, value) { call_ifdef(selector, 'mesg', value); },
 	stdout:function(selector, value, clear) { call_ifdef(selector, 'stdout', value, clear); },
	stderr:function(selector, value, clear) { call_ifdef(selector, 'stderr', value, clear); },
        start:function(selector) { call_ifdef(selector, 'start'); },
	done:function(selector) { call_ifdef(selector, 'done'); }
    }

    var socket = sagews_backend.socket('http://' + window.location.host, options);

    function update_status() {	
	var cmd = 'print("Memory: %sMB\\n\\nVariables: %s\\n\\n\\n\\n"%(int(sage.all.get_memory_usage()), ", ".join(sorted(sage.all.show_identifiers()))))';
	socket.execute_blocking(cmd,
		function (mesg) { $('#status').html(mesg.stdout); });
    }

    var start_time = walltime();
    update_status();

   $('#status').css({'borderWidth':'2px', 'borderStyle':'solid', 'borderColor':'grey',
                     'padding':'5px'})

    function cm_trim_last_newline(cm) {
       var line = cm.lineCount()-1;
       if(line>=1) {
	   if (cm.getLine(line).length === 0) {
	       cm.replaceRange('', {line:line-1,ch:cm.getLine(line-1).length}, {line:line,ch:0});
	   }
       }
    }

    function SageCell(id, options) {

	var opts = $.extend({
	    stdin:'', 
	    stdout:'', 
	    stderr:'', 
	    html:'',
	    max_output:100000,
	}, options||{});

	/* TODO: untagle completions from docstring */

	function get_completions(code, cursor, docstring, callback) {
	    var cmd = 'print _completions(' + cursor.ch + ',' + cursor.line +
		', docstring=' + (docstring?'True':'False') + ', jsonify=True)';
	    socket.execute_blocking(cmd, function (mesg) {
		if (mesg.stderr !== '') {
		    console.log(mesg.stderr); /* TODO: for debugging only */
		    callback([], '', 'error');
		    return;
		} 
		var r = $.parseJSON(mesg.stdout);
		if (r.help) {
		    /* TODO: implement real help viewer with html, etc. -- this is a silly quick hack*/
		    $('#help_window').dialog({'title':'Help on '+r.expr.slice(0,r.expr.length).replace('/','').replace('(','')}).html('<font size=-3><textarea readonly="readonly" cols=80 rows=16>'+r.result+'</textarea></font>').dialog( {close : function() { stdin.focus(); }}).dialog('open');
		    return;
		}
		callback(r.result, r.target, 'ok');
		update_status();  /* since completion can cause side effects */
	    },  true, code)
	}

	function completion(docstring) {     
	    var cursor = stdin.getCursor();
	    var this_line = stdin.getLine(cursor.line).slice(0,cursor.ch)

	    if (this_line.length == 0 || is_whitespace(this_line[this_line.length-1])) {
		stdin.replaceRange(TAB, cursor);		
		return false;
	    }

	    var code = stdin.getValue();
	    var target = code;  /* callback if it happens changes this later */
	    var pos = stdin.cursorCoords();
	    var c = $('#completions');

	    function finish(val) {
		if (typeof val === "undefined") { val = "";}
		if (!c.is(':visible')) { stdin.focus(); return; }
		c.hide();
		stdin.focus();
		if (val.length > 0) {
		    stdin.replaceRange(val, {line:cursor.line, ch:cursor.ch-target.length}, cursor);
		}
	    }
	    c.data('finish', finish);

	    get_completions(code, cursor, docstring, function (source, target0, status) {
		target = target0;
		if (status != 'ok') {
		    $('#completions_error').dialog( {close : function() { stdin.focus(); }}
                    ).dialog('open');
		    return;
		}
		if (source.length === 0) {
		    stdin.replaceRange(TAB, cursor);
		    return;
		}
		if (source.length === 1) {
		    stdin.replaceRange(source[0].slice(target.length), cursor);
		    return;
		}
		c.show().focus().css({top:pos.y, left:pos.x}).val(target).autocomplete({
		    autoFocus:false,
		    minLength:0,
		    source:source,
		    select:function(event, ui) { 
			finish(ui.item.value);
		    }
		}).autocomplete("search");
	    })
	}

        var wcell = $('<div id="' + id + '" class="sagews-cell"><span></span><button>Send</button><button>Complete</button><button>Docstring</button><button>Merge</button><button>Split</button><button>Delete</button></div>');
	var cell = wcell[0];

	var buttons = wcell.children('button').hover(function(){ hide_buttons=false; }, function() {hide_buttons=true;} );

	var hide_buttons = true;

	var send_button = $(buttons[0]).button({icons:{primary:'ui-icon-circle-check'}}).click( 
	    function(event,ui) { execute(); }
	)

	var complete_button = $(buttons[1]).button({icons:{primary:'ui-icon-arrowthickstop-1-e'}}).click( 
	    function(event,ui) { completion(false); }
	);

	var doc_button = $(buttons[2]).button({icons:{primary:'ui-icon-search'}}).click( 
	    function(event,ui) { completion(true); }
	);

	var merge_button = $(buttons[3]).button({icons:{primary:'ui-icon-arrowthickstop-1-s'}}).click( 
	    function(event,ui) { merge_with_next_cell(); }
	);

	var split_button = $(buttons[4]).button({icons:{primary:'ui-icon-scissors'}}).click( 
	    function(event,ui) { split_cell(); }
	);

	var delete_button = $(buttons[5]).button({icons:{primary:'ui-icon-circle-close'}}).click( 
	    function(event,ui) { delete_cell(); }
	);

        var stdin = CodeMirror(wcell.find('span')[0], {
	                 value:opts.stdin,
                         lineNumbers: false, 
                         indentUnit: 4, 
                         matchBrackets:true,
                         lineWrapping:true, 
	                 autoClearEmptyLines:true,
                         gutter: true, 
	                 onFocus:function (cm) { buttons.show(); },
	                 onBlur:function (cm) { if(hide_buttons) { buttons.hide(); } },
                         extraKeys:{
			     'Shift-Enter': function(cm) { execute(); },
			     /*'Enter': function(cm) { cm.replaceRange('\n',stdin.getCursor()); }, */
			     'Up':function(cm) { up(); },
			     'Down':function(cm) { down(); },
			     'Tab': function(cm) { completion(false); },
			 }
                    });

	$(stdin.getWrapperElement()).addClass('sagews-stdin'); 
        $(stdin.getScrollerElement()).addClass('sagews-stdin-scroll');

        var stdout = CodeMirror(cell, {
	    value:opts.stdout, lineWrapping:true, readOnly:true})
	var stderr = CodeMirror(cell, {
	    value:opts.stderr, lineWrapping:true, readOnly:true});
	var html = $('<div></div>').append(html)[0];

	// Stylize stdout and stderr
	var stdout_elt = $(stdout.getWrapperElement());
	var stderr_elt = $(stderr.getWrapperElement());
	if (opts.stdout === '') { stdout_elt.hide(); }
	if (opts.stderr === '') { stderr_elt.hide(); } 
	stdout_elt.addClass('sagews-stdout');
	stderr_elt.addClass('sagews-stderr');

	function append_to_stream(s, value) {
	    var n =  s.lineCount();
	    s.replaceRange(value, {line:n-1, ch:s.getLine(n-1).length});
	    
	}

        wcell.data({'streams':{'stdin':stdin, 'stdout':stdout, 'stderr':stderr},
                    'focus':function(line, ch) { 
			stdin.focus();
			if (typeof line === "undefined") { return; }
			if (line<0) { line += stdin.lineCount(); }
			stdin.setCursor(line, ch); 
			opera_focus_hack();
	            },
                    'refresh':function() { stdin.refresh(); stdout.refresh(); stderr.refresh(); },
		    'set':    function(value) { stdin.setValue(value); },
		    'start':  function() { 
			stderr_elt.hide();
			wcell.data('start_time', walltime()); 
		    },
		    'mesg':   function(value) { 
			if (value.type === 'javascript') {eval(value.value);}
		    },
		    'stdout': function(value, clear) {
			if (clear) {
			    if (value) { stdout_elt.show(); }
			    stdout.setValue(truncate(value));
			} else {
			    append_to_stream(stdout, value);
			}
			stdout.setCursor(stdout.lineCount(),0);
		    },
		    'stderr': function(value, clear) {
			if (clear) {
			    if (value) { stderr_elt.show(); }
			    stderr.setValue(truncate(value));
			} else {
			    append_to_stream(stderr, value);
			}
		    },
		    'done':   function () { 
			var s = (walltime() - wcell.data('start_time')) + ' ms';
			$('#time')[0].innerHTML = s;
			cm_trim_last_newline(stdout); cm_trim_last_newline(stderr);
			if (stdout.getValue() === '') { stdout_elt.hide(); }
			if (stderr.getValue() === '') { stderr_elt.hide(); } 
			update_status();
		    }
		   });

	function truncate(s) {
	    if (s.length < opts.max_output) {
		return s;
	    } else {
		/* TODO: at this point, should maybe send interrupt or at least cancel output being sent -- maybe this should be entirely backend side*/
		return s.slice(0, opts.max_output) + ' (output truncated) ';
	    }
	}

	function opera_blur_hack() {
	    /* This is a hack needed for Opera -- at least v 11.64 on OS X. 
	       It's copied from codemirror.js's onBlur() function. */
	    var wrapper = $(stdin.getWrapperElement())[0];
	    wrapper.className = wrapper.className.replace(" CodeMirror-focused", ""); 
	}

	function opera_focus_hack() {
	    /* This is a hack needed for Opera -- at least v 11.64 on OS X. 
	       It's copied from codemirror.js's onBlur() function. */
	    var wrapper = $(stdin.getWrapperElement())[0];
            if (wrapper.className.search(/\bCodeMirror-focused\b/) == -1) {
		wrapper.className += " CodeMirror-focused";
	    }
	}
	
	function focus_on_next_cell() {
	    var next = wcell.next();
	    if (next.length === 0) { 
		 /* TODO: this feals hacked, maybe.  It's so we can have many command lines at once */
		 var cells_id = wcell.parent().attr('id');
		 next = $(appendSageCell('#'+cells_id));
	     }
	    next.data('focus')(0,0);
	    return next;
	}

	function delete_cell() { 
	    buttons.hide();
	    var next = focus_on_next_cell();
	    $('#cell-trash').append(wcell);
	    return next;
	}

	function merge_with_next_cell() {
	    var s = stdin.getValue();
	    var next = wcell.next();
	    if (next.length === 0) { return; }
	    var streams = next.data('streams');
	    append_to_stream(stdin, '\n' + streams.stdin.getValue());
	    $('#cell-trash').append(next);
	    wcell.data('focus')();
	}

	function split_cell() { 
	    buttons.hide();
	    stdin.setSelection({line:0,ch:0}, stdin.getCursor());
	    var top = stdin.getSelection();
	    stdin.replaceSelection('');
	    /* now make a new cell, put selection in there, and move it above . */
	    var cells_id = wcell.parent().attr('id');
	    var new_cell = $(appendSageCell('#'+cells_id));
	    if(top.length>0 && top[top.length-1] === '\n') {
		top = top.slice(0,top.length-1);
	    }
	    new_cell.data('streams').stdin.setValue(top);
	    $(new_cell).insertBefore(wcell).data('focus')();
	}

	function execute() { 
	    buttons.hide();
	    opera_blur_hack();
	    var val = stdin.getValue();
	    socket.set('#'+id, val);
	    socket.execute('#'+id, val, true); 
	    focus_on_next_cell();
	}
	
	function up() {
	    var coords = stdin.getCursor();
	    if (coords.line >= 1) {
		stdin.setCursor(coords.line - 1, coords.ch);
	    } else {
		var f = wcell.prev().data('focus'); 
		if (typeof f !== 'undefined') { 
		    opera_blur_hack();
		    f(-1, coords.ch); 
		} 
	    }
	}

        function down() {
	    var coords = stdin.getCursor();
	    if (coords.line < stdin.lineCount() - 1) {
		stdin.setCursor(coords.line + 1, coords.ch);
	    } else {
		var f = wcell.next().data('focus')
		if (typeof f !== 'undefined') { 
		    opera_blur_hack();
		    f(0, coords.ch);  
		} 
	    }
        }
	return cell;
    }

    var cell_number = -1;
    function next_cell_number() {
	cell_number += 1;
	return cell_number;
    }
    function appendSageCell(selector, options) {
	var id = 'cell-' + next_cell_number();
	if ($('#'+id).length != 0) {
	    alert("trying to create a cell with the id " + id + " that already exists will cause horrible confusion!");
	}
	var cell = SageCell(id, options);	
	$(selector).append(cell);
	$(cell).data('refresh')(); 
	return cell;
    }

    /* Create the first Sage cell */
    $(appendSageCell('#cells-0')).data('focus')();


    function session_name() {
	return $('#session-name').val();
    }
    $('#save-session').click(
	function() { 
	    socket.execute('#save-session','save_session("' + session_name() + '")'); 
	}).data('done', function () { /* TODO: visual feedback */ })

    $('#load-session').click(
	function() { 
	    socket.execute('#load-session','reset(); load_session("' + session_name() + '")'); 
	}).data('done', function () { /* TODO: visual feedback */  update_status(); })

    $('#reset-session').click(
	function() { 
	    socket.execute('#reset-session','reset()'); 
	}).data('done', function () { /* TODO: visual feedback */ update_status(); })

    $("#tabs").tabs({ 
	show : function(event, ui) { 
	    $(this).data('tabs-current-index',ui.index);
	    var f = $(ui.panel).data('focus');
	    if (typeof f === 'undefined') return;
	    f(); 
	    $(ui.panel).scrollTop(10000);
	}
     }).tabs('select', 0); /* .resizable(); */

/* The following works, but confuses other code for renaming etc that uses index. */
/*    $('#tabs').find( ".ui-tabs-nav" ).sortable({'axis':'x'}).css({'fontSize':'small'});

*/

    $('#tabs').data({
	'set-tab-label':function(index, label) {
	    $($('#tabs ul li a')[index]).html(label);  
	}
    });

    $('#tabs').append($('#status')).tabs('add','#status', 'status');

    $('#button-bar').sortable({axis:'x'});

    function append_new_cmdline_tab() {
	var n = $('#tabs').tabs('length');
	$('#tabs').append(newCommandLine('cells-'+n, n));
	appendSageCell('#cells-'+n);
	$('#tabs').tabs("add", '#cells-'+n, n).tabs('select', n);
    }
    append_new_cmdline_tab(); 

    $('#new-cmdline-button').button({icons: {primary:'ui-icon-circle-plus'}}).click(
	function (event,ui) { append_new_cmdline_tab(); }
    );

    $("#invalid-filename-dialog").dialog({
        autoOpen:false,	modal:true,
	buttons:{Ok: function() { $(this).dialog("close");}}
    });

    function invalid_filename_dialog(filename) {
	$("#invalid-filename-dialog").html("The filename '" + filename + "' is not valid.").dialog('open');    
    }

    function append_new_document_tab(filename) {
	if (is_whitespace(filename)) {
	    invalid_filename_dialog(filename);
	    return;
	}
	var n = $('#tabs').tabs('length');
	var doc = newDocument('doc-'+n, filename);
	$('#tabs').append(doc);  
	$('#tabs').tabs("add", '#doc-'+n, n).tabs('select', n).
	    data('set-tab-label')(n, filename);
    }

    $('#new-document-button').button({icons: {primary:'ui-icon-circle-plus'}}).click(function (event,ui) { 
	var t = $('#tabs');
	var index = t.tabs('length');
	var d = $('#name-dialog');
	d.children('input').val('');
	d.data('sagews-name', function () {
	    append_new_document_tab(d.children('input').val());
	});
	d.dialog("open").dialog({'close':function(event,ui){
	    if(index>0) {
		t.tabs('select', index-1);
	    } else {
		t.tabs('select', index+1);
	    }
	    t.tabs('select', index);
	}});
    });


    $('#prev-button').button({icons: {primary:'ui-icon-circle-arrow-w'}}).click( function(event,ui) {
	var t = $('#tabs');
	var index = t.data('tabs-current-index') - 1;
	if (index < 0) {
	    index = t.tabs('length')-1;
	}
	console.log(index);
	t.tabs('select', index);
    })
    $('#next-button').button({icons: {primary:'ui-icon-circle-arrow-e'}}).click( function(event,ui) {
	var t = $('#tabs');
	var index = t.data('tabs-current-index') + 1;
	if (index >= t.tabs('length')) {
	    index = 0;
	}
	console.log(index);
	t.tabs('select', index);
    })

    $('#name-dialog').dialog({
	autoOpen:false,
	modal:true,
	show: { effect: 'drop', direction: "up", duration:100},
	hide: { effect: 'drop', direction: "down", duration:100},
	buttons:{
	    Ok: function() { $(this).dialog("close").data('sagews-name')() }
	}
    }).keypress(function(e) { if (e.which===13) { $(this).dialog('close').data('sagews-name')() }});

/*    $('#send-button').button({icons:{primary:'ui-icon-circle-check'}}); */

    $('#rename-button').button({icons: {primary:'ui-icon-shuffle'}}).click(function(event,ui) {
	var t = $('#tabs');
	var index = t.data('tabs-current-index');
	var d = $('#name-dialog');
	var title = t.find('ul li a')[index].text;
	d.children('input').val(title);
	d.data('sagews-name', function () {
	    var new_name = d.children('input').val();
	    if (is_whitespace(new_name)) {
		invalid_filename_dialog(new_name);
		return;
            }
	    t.data('set-tab-label')(index, new_name);
	    /* ensure that it gets selected so gets focus back.*/
	});

	d.dialog("open").dialog({'close':function(event,ui){
	    if(index>0) {
		t.tabs('select', index-1);
	    } else {
		t.tabs('select', index+1);
	    }
	    t.tabs('select', index);
	}});
    });
				      

    function newCommandLine(id, label) {
	var c = $('#sagews-cell-template').clone().show().attr('id', id);
	c.data('focus', function() { c.children(':last-child').data('focus')(); });
	c.sortable({axis:'y', containment: 'parent' });
	return c;
    }

    function newDocument(id, filename) {
	var d = $('#document-template').clone().show().attr('id', id);
	d.data('sagews-filename',filename);

	/* append a CodeMirror to d. */
	var cm = CodeMirror(d[0], {
	    lineNumbers: true, 
	    indentUnit: 4, 
	    matchBrackets:true,
	    lineWrapping:true, 
	    autoClearEmptyLines: true});
	$(cm.getWrapperElement()).addClass('sagews-document'); 
        $(cm.getScrollerElement()).addClass('sagews-document-scroll');
	cm.refresh();
	d.data('sagews-editor', cm);
	d.data('focus', function() { cm.focus(); });
	return d;
    }

    $('#sagews-cell-template').hide(); 
    $('#document-template').hide(); 
    $('#invalid-filename-dialog').hide();
    $('#cell-trash').hide();

    $('body').scrollTop(0);

})</script>


<body>
<div id="status" class="wrap sagews-status">status</div>
Session: <input id="session-name" value="sagews"> <button id="save-session">save</button><button id="load-session">load</button><button id="reset-session">reset</button>
&nbsp;&nbsp;&nbsp;&nbsp;
Last Time: <span id="time">0 ms</span>
<br>
<!--<input id="preparse" type="checkbox" checked="true" /> preparse
<button id="execute-0">Execute (shift+enter)</button>
-->
<hr>

<input id="completions" size=60>
<div id="completions_error" title="Completions"></div>
<div id="help_window" title="Help"></div>



<div id="button-bar">
<span><button id="prev-button">Prev</button></span>
<span><button id="next-button">Next</button></span>
<span><button id="rename-button">Rename</button></span>
<span><button id="new-cmdline-button">Command Line</button></span>
<span><button id="new-document-button">Document</button></span>


<!--<span><button id="complete-button">Tab</button> </span>
<span><button id="newline-button">Down</button></span>
<span><button id="execute-button">Evaluate</button> </span> -->
</div>

<div id="tabs"><ul></ul></div>

<div id="sagews-cell-template" class="sagews-cells"></div>

<div id="document-template" class="sagews-document"></div>

<div id="name-dialog" title="Name">
<input type="text" value="new name">
</div>

<div id="invalid-filename-dialog" title="Invalid Filename"></div>

<div id="cell-trash"><h3>Cell Trash</h3></div>

</body>
</html>



<!--

for i in range(1000):
    sleep(.005)
    sagews.javascript('$("#status").css({"borderWidth":"%spx"})'%(20*float(sin(.1*i))))

-->
