<!doctype html>
<html>
<head>
<script type="text/javascript" src="static/jquery/jquery.min.js"></script>
<script type="text/javascript" src="static/socketio/socket.io.js"></script>

<link rel="stylesheet" href="static/codemirror/codemirror.css">
<script type="text/javascript" src="static/codemirror/codemirror.js"></script>
<script type="text/javascript" src="static/codemirror/mode/python.js"></script>
<style type="text/css">

      .CodeMirror {
/*        border: 1px solid #99f; 
        background-color: #fffff0;  */
      }
      .CodeMirror-scroll {
        height: auto; 
        overflow-y: hidden;
        overflow-x: auto;
      width: 100%;
      }

      .sagews-cell {
        border: 1px solid #888; 
      }

      .stderr {
        color:#880000;
        background-color:orange;
        font-weight:bold;
      }


      .output {
/*          font-family:"Courier New"; 
          font-size:12pt;
        border:2px solid #9f9; padding:1px; */
      }

      .wrap {  /* see http://www.longren.org/wrapping-text-inside-pre-tags/ */
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
       }
</style>

<script type="text/javascript" src="static/backend.js"></script>
<script type="text/javascript">

$(function() {

/*    $('body').keydown(function(event) { 
	if (event.which == 13 && event.shiftKey) {
	    execute_code_cell('#cell-0');
	    return false;
	} else if (event.which == 67 && event.ctrlKey) {
	    sigint();
	    return false;
	}
    });
*/


    function walltime() { return (new Date()).getTime(); }

    // TODO: vargs
    function call_ifdef(selector, name, a1, a2) {
        var obj = $(selector);
        var f = obj.data(name);
        if (typeof f === 'undefined') return;
        if (typeof a2 === 'undefined') { f(a1); return; }
        if (typeof a1 === 'undefined') { f(); return; }
        f(a1,a2);
    }

    var options = {
	set:function(selector, value) { call_ifdef(selector, 'set', value); },
        mesg:function(selector, value) { call_ifdef(selector, 'mesg', value); },
 	stdout:function(selector, value, clear) { call_ifdef(selector, 'stdout', value, clear); },
	stderr:function(selector, value, clear) { call_ifdef(selector, 'stderr', value, clear); },
        start:function(selector) { call_ifdef(selector, 'start'); },
	done:function(selector) { call_ifdef(selector, 'done'); }
    }

    var socket = sagews_backend.socket('http://' + window.location.host, options);

    function preparse(input) {
        return "exec preparse(r'''"+input+"''') in globals()";
    }

    function update_status() {
        socket.execute('#status', 
        'print("Memory: %sMB    Variables: %s"%(int(sage.all.get_memory_usage()), ", ".join(sorted(sage.all.show_identifiers()))))');
    }

    var start_time = walltime();
    update_status();


   $('#status').css({'borderWidth':'2px', 'borderStyle':'solid', 'borderColor':'grey',
                     'padding':'5px', height:'1em'})
	.data('stdout', function(value, clear) { $('#status')[0].innerHTML = value; })
	.data('stderr', function(value, clear) {})
	.data('done', function() {})
	.data('set', function(value) {});

    function trim_cm(cm) {
	var val = cm.getValue();
	if (val[val.length-1] === '\n') {
	    cm.setValue(val.slice(0,val.length-1));
	}
    }

    function SageCell(id, options) {
	var opts = $.extend({input:'', stdout:'', stderr:'', html:''}, options||{});
        var cell = $('<div id="' + id + '" class="sagews-cell"></div>')[0];
        var input = CodeMirror(cell, {
	                 value:opts.input,
                         lineNumbers: true, indentUnit: 4, matchBrackets:true,
	                 autoClearEmptyLines: true,
                         extraKeys:{
			     'Shift-Enter': function(cm) { execute(); },
			     'Up':function(cm) { up(); },
			     'Down':function(cm) { down(); }
			 }
                    });
        var stdout = CodeMirror(cell, {value:opts.stdout, lineWrapping:true, readOnly:'nocursor'})
	var stderr = CodeMirror(cell, {value:opts.stderr, lineWrapping:true, readOnly:'nocursor'});
	var html = $('<div></div>').append(html)[0];
	if (opts.stdout === '') { $(stdout.getWrapperElement()).hide(); }
	if (opts.stderr === '') { $(stderr.getWrapperElement()).hide(); } 
	var wcell = $(cell);
        wcell.data({'focus':function(line, ch) { 
	               if (line<0) { line += input.lineCount(); }
	                  input.focus(); input.setCursor(line,ch); 
	            },
                    'refresh':function() { input.refresh(); stdout.refresh(); stderr.refresh(); },
		    'set':    function(value) { input.setValue(value); },
		    'start':  function() { wcell.data('start_time', walltime()); },
		    'mesg':   function(value) { 
			if (value.type === 'javascript') {eval(value.value);}
		    },
		    'stdout': function(value, clear) {
			if (clear) {
			    if (value) { $(stdout.getWrapperElement()).show(); }
			    stdout.setValue(value);
			} else {
			    stdout.setValue(stdout.getValue() + value);  // TODO
			}
		    },
		    'stderr': function(value, clear) {
			if (clear) {
			    if (value) { $(stderr.getWrapperElement()).show(); }
			    stderr.setValue(value);
			} else {
			    stderr.setValue(stderr.getValue() + value);  // TODO
			}
		    },
		    'done':   function () { 
			var s = 'last time: ' + (walltime() - wcell.data('start_time')) + ' ms';
			$('#time')[0].innerHTML = s;
			trim_cm(stdout); trim_cm(stderr);
			update_status();
		    }
		   });

	function execute() { 
	    var val = input.getValue();
	    socket.set('#'+id, val);
	    socket.execute('#'+id, val, true); 
	    var next = wcell.next();
	    if (next.length === 0) { next = $(appendSageCell('#cells')); }
	    next.data('focus')(0,0);
	}
	
	function up() {
	    var coords = input.getCursor();
	    if (coords.line >= 1) {
		input.setCursor(coords.line - 1, coords.ch);
	    } else {
		var f = wcell.prev().data('focus'); 
		if (f) { f(-1, coords.ch); } 
	    }
	}

        function down() {
	    var coords = input.getCursor();
	    if (coords.line < input.lineCount() - 1) {
		input.setCursor(coords.line + 1, coords.ch);
	    } else {
		var f = wcell.next().data('focus')
		if (f) { f(0, coords.ch);  } 
	    }

        }
	return cell;
    }

    var cell_number = -1;
    function next_cell_number() {
	cell_number += 1;
	return cell_number;
    }
    function appendSageCell(selector, options) {
	var id = 'cell-' + next_cell_number();
	if ($('#'+id).length != 0) {
	    alert("trying to create a cell with the id " + id + " that already exists will cause horrible confusion!");
	}
	var cell = SageCell(id, options);	
	$(selector).append(cell);
	$(cell).data('refresh')();
	return cell;
    }

    appendSageCell('#cells');
/*    appendSageCell('#cells', {input:"for i in [1..5]:\n    print chr(randint(40,100))*(8*i)"});
    appendSageCell('#cells', {input:"print 'a' + '\\n'*3 + 'b' + \"\\n\"*3 + \"\"\"foo\"\"\" + '''bar'''"});
    appendSageCell('#cells', {input:"sagews.javascript('alert(\"hi\")')"});
    for(var i=3;i<6;i++) {
	appendSageCell('#cells');
    }*/

})</script>


<body>

<pre><div id="status">status line</div></pre>
<span id="time">last time:</span>
<br>
<!--<input id="preparse" type="checkbox" checked="true" /> preparse
<button id="execute-0">Execute (shift+enter)</button>
-->
<hr>
<br><br>

<div id="cells">
</div>



</body>
</html>



<!--

for i in range(1000):
    sleep(.005)
    sagews.javascript('$("#status").css({"borderWidth":"%spx"})'%(20*float(sin(.1*i))))

-->
