<!doctype html>
<html>
<head>
<script type="text/javascript" src="static/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="static/sagews.js"></script>

<script type="text/javascript">
$(function() {

    var client = sagews.Client("http://localhost:5000");
    
    client.new_session(function(mesg) {
        client.execute(mesg['id'], 'print(2+3)', 
              function(m) { alert(mesg['id'] + ' ' + m.status + ' ' + m.cell_id); });
    });

})
</script>

</head>


<body>


<div id="log"></div>

</body>
</html>
