<!doctype html>
<html>
<head>
<script type="text/javascript" src="static/jquery-1.7.1.min.js"></script>

<script type="text/javascript" src="static/sagews.js"></script>

<script type="text/javascript">
$(function() {
  /*******************************************************
   *     Style 
   ********************************************************/
  $('div').css({'borderWidth':'2px', 'borderStyle':'solid', 
                'padding':'10px', 'height':'150px'});

  $('#input').css({'fontSize':'medium', 'fontFamily':'Courier New'});

  $('#session').css({'width':'30px'});

  /*******************************************************
   * Dynamic behavior
   ********************************************************/

  /* Create an interface to a sagews frontend. */
  var client = sagews.Client('http://localhost:5000'); 

  $('#close_all').click( function() { 
       client.close_all_sessions(function(m) { });  /* alert(m.status); }) */
  })

  $('#new_session').click( function() { 
       client.new_session(function(m) { }); /* alert(m.status + '   id=' + m.id); }) */
  })

  /* sets the id of the session to what is in the session input box */
  function session_id() { return($('#session').val()); }

  /* TODO: I think this pushing output stuff should get moved to sagews.js.  Then the 
     polling/push/websockets stuff will be automatically taken care of. */
  function insert_output_in_cell(session_id, cell_id, number) {
      $("div").css({'borderColor':'green'});
      client.output_messages(session_id, cell_id, number, function(m) {
	  var i, o, n=m.data.length, done=false;
          if (n === 0) {
	      number -= 1; /* received no new messages */
	  } else {
              for (i = 0; i < n; i++) {
		  o = m.data[i].output;
		  number = m.data[i].number;
		  if (o !== null) {
                      $("#output")[0].innerHTML += o;
		  }
		  if (m.data[i].done) {
		      done = true;
		  }
              }
	  }
          if (done) {
	      $("div").css({'borderColor':'black'})
          } else {
              setTimeout(function() { insert_output_in_cell(session_id, cell_id, number+1); }, 50);
          }
      });
   }

  $('#sigint').click( function() { client.sigint(session_id()); } )

  $('#sigkill').click( function() { client.sigkill(session_id()); } )

  $('#close_session').click( function() { client.close_session(session_id()); } )

  $('#execute').click( function() { 
      var id = session_id();
      client.execute(id, $('#input').val(), function(m) {
           if (m.status === 'error') {
               $('#output')[0].innerHTML = m.data;
           } else {
               var cell_id = m.cell_id;
               /* clear previous output */
               $('#output')[0].innerHTML = '';
               /* start inserting output in the cell, as it appears: 
                  we do this here *only* because we are not doing polling yet. */
               insert_output_in_cell(id, cell_id, 0);
           }
       });            
  });

  /* Polling: this must completely go away soon! */
  /* Every 1 second, update status of sessions. */
  setInterval(update_session_status, 200);      
  update_session_status();

  function update_session_status() {
      client.sessions(function (m) {
          var i, s = '', session;
          for (i = 0; i < m.sessions.length; i++) {
              session = m.sessions[i];
              s += '<br>' + i + ': ' + session.status + ', pid=' + session.pid + ', cells=' + session.next_cell_id;
          }
          $('#sessions')[0].innerHTML = s
      })
  }

})


</script>

</head>

<body>
<title>Demo 1</title>


<div id="runframe">
<textarea id="input" name="code" rows=6 cols=80>
import random, time
for i in range(200):
    print random.randint(0,9),
    if i%50==49: 
        time.sleep(.5); print
</textarea>
</div>

<br>

<button id="execute">Execute (shift-enter)</button>
<button id="sigint">Interrupt (cntrl-c)</button>
<button id="sigkill">Kill</button>
<button id="close_session">Close</button>
<button id="close_all">Close all</button>
<button id="new_session">New Session</button>
<span>Session <input type="text" id="session" value="0"/></span>


<br><br>

<div>
Output:
<pre id="output">
</pre>
</div>

<br>
Sessions:
<div id="sessions">
loading status...
</div>

</body>


</html>
