.cocalc-crm-grid-column-resizer {
  cursor: ew-resize;
  position: absolute;
  width: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
}

.cocalc-crm-grid-column-resizer:hover {
  border-right: 2px solid #428bca;
}
