/*
 *  This file is part of CoCalc: Copyright © 2024 Sagemath, Inc.
 *  License: MS-RSL – see LICENSE.md for details
 */

/* See https://github.com/mozilla/pdf.js/blob/a7e1bf64c4c7a42c7577ce9490054faa1c4eda99/test/text_layer_test.css */

.cocalc-pdfjs-text-layer {
  position: absolute;
  inset: 0;
  line-height: 1;
  opacity: 1;

  :is(span, br) {
    color: transparent;
    position: absolute;
    white-space: pre;
    transform-origin: 0% 0%;
    box-sizing: border-box;
    cursor: text;
  }

  .markedContent {
    border: none;
    background-color: transparent;
  }
}
