/* 
 *  This file is part of CoCalc: Copyright © 2020 Sagemath, Inc.
 *  License: AGPLv3 s.t. "Commons Clause" – see LICENSE.md for details
 */

@font-face {
  font-family: 'cocalc-icons';
  src:  url('./cocalc-icons.eot?v=1.0.0');
  src:  url('./cocalc-icons.eot?v=1.0.0#iefix') format('embedded-opentype'),
    url('./cocalc-icons.ttf?v=1.0.0') format('truetype'),
    url('./cocalc-icons.woff?v=1.0.0') format('woff'),
    url('./cocalc-icons.svg?v=1.0.0#cocalc-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="cc-icon-"], [class*=" cc-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cocalc-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cc-icon-ipynb-file:before {
  content: "\e90f";
}
.cc-icon-jupyter-file:before {
  content: "\e910";
}
.cc-icon-tex-file:before {
  content: "\e90e";
}
.cc-icon-markdown:before {
  content: "\e900";
}
.cc-icon-sagemath-file:before {
  content: "\e902";
}
.cc-icon-file-o:before {
  content: "\e907";
}
.cc-icon-sagemath-bold:before {
  content: "\e90b";
}
.cc-icon-sagemath:before {
  content: "\e90c";
}
.cc-icon-cocalc-ring:before {
  content: "\e90a";
}
.cc-icon-julia:before {
  content: "\e909";
}
.cc-icon-octave:before {
  content: "\e908";
}
.cc-icon-r:before {
  content: "\e906";
}
.cc-icon-python:before {
  content: "\e905";
}
.cc-icon-cocalc:before {
  content: "\e901";
}
.cc-icon-ipynb:before {
  content: "\e903";
}
.cc-icon-jupyter:before {
  content: "\e904";
}
.cc-icon-image:before {
  content: "\e90d";
}
.cc-icon-video-camera:before {
  content: "\e914";
}
.cc-icon-library:before {
  content: "\e921";
}
.cc-icon-earth:before {
  content: "\e9ca";
}
.cc-icon-link:before {
  content: "\e9cb";
}
.cc-icon-attachment:before {
  content: "\e9cd";
}
.cc-icon-pilcrow:before {
  content: "\ea73";
}
.cc-icon-section:before {
  content: "\ea76";
}
.cc-icon-tux:before {
  content: "\eabd";
}

