<!doctype html>
<html>
<head>
<script type="text/javascript" src="jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="socket.io.js"></script>

<script type="text/javascript">

$(function() {

    $('#execute').click(execute_code);
    $('#input, div').css({'fontSize':'small', 'fontFamily':'Courier New'});
    $('body').keydown(function(event) { 
	if (event.which == 13 && event.shiftKey) {
	    execute_code();
	    return false;
	} else if (event.which == 67 && event.ctrlKey) {
	    sigint();
	    return false;
	}
    });


    socket = new io.connect('http://' + window.location.host);

    socket.execute = function(id, code, stdout, stderr, done) {
	socket.on('stdout-'+id, stdout);
	socket.on('stderr-'+id, stderr);
	socket.once('done-'+id, function () { 
	    done(); 
	    socket.removeListener('stdout-'+id, stdout);
	    socket.removeListener('stderr-'+id, stderr);
	});
	socket.emit('execute', id, code);   
    }



    function execute_code() { 
	$('#output')[0].innerHTML = '';
	socket.execute('0', $('#input').val(), 
		       function(s) { $('#output')[0].innerHTML += s; },
		       function(s) { if (s) { $('#output')[0].innerHTML += '[[' + s + ']]';}  },
		       function () { $('#output')[0].innerHTML += '(done)'; }
		      );
    }
    
})
</script>


<body>

<div id="runframe">
<pre>
<textarea id="input" name="code" rows=6 cols=80>
import random, sys, time
t = time.time()
for i in range(1000): 
    print i
    sys.stdout.flush()
print time.time()-t
</textarea>
</pre>
</div>

<br>
<button id="execute">Execute (shift+enter)</button>

<pre id="output">
output here
</pre>

</body>
</html>
