<!doctype html>
<html>
<head>
<script type="text/javascript" src="static/jquery/jquery-1.7.1.min.js"></script>

<script type="text/javascript" src="static/socketio/socket.io.js"></script>

<script type="text/javascript" src="static/sagews.js"></script>

<script type="text/javascript">
$(function() {

  /*******************************************************
   *     Style 
   ********************************************************/
  $('.bigboxes').css({'borderWidth':'2px', 'borderStyle':'solid', 
                'padding':'10px', 'height':'150px'});
  $('.outputbox').css({'borderWidth':'2px', 'borderStyle':'solid', 
                'padding':'10px', 'height':'50000px', 'borderColor':'grey'});

  $('#message').css({'borderWidth':'2px', 'borderStyle':'solid', 'padding':'10px', 'borderColor':'red'});
  $('#input').css({'fontSize':'medium', 'fontFamily':'Courier New'});
  $('#session').css({'width':'30px'});
  $("button").css({'padding':'10px'});
  $("h1").css({'color':'darkblue', 'textAlign':'center'});

  /*******************************************************
   * Dynamic behavior
   ********************************************************/

  function say(mesg) {
     $('#message')[0].innerHTML = mesg
  }

  function waiting_style() {
      $(".bigboxes").css({'borderColor':'black'});
      $("button").css({'color':'black'});
  }
  waiting_style();

  function running_style() {
      say('');
      $(".bigboxes").css({'borderColor':'green'});
      $("button").css({'color':'green'});
  }


  /* Create an interface to a sagews frontend. */
/*  var client = sagews.Client('http://localhost:5000');   */
  var client = sagews.Client('http://10.0.1.60:5000');  

  $('body').keydown(function(event) { 
      if (event.which == 13 && event.shiftKey) {
	  execute_code();
	  return false;
      } else if (event.which == 67 && event.ctrlKey) {
	  sigint();
	  return false;
      }
  });

  $('#close_all').click( function() { 
       client.close_all_sessions(function(m) {});
  });

  $('#new_session').click( function() { 
       client.new_session(function(m) { $('#session').val(m.id); }); 
  });

  /* sets the id of the session to what is in the session input box */
  function session_id() { return($('#session').val()); }
    
  function sigint() { client.sigint(session_id(), function(m){} ); } 

  $('#sigint').click(sigint)

  $('#sigkill').click( function() { client.sigkill(session_id(), function(m){}); } )

  $('#close_session').click( function() { client.close_session(session_id(), function(m){}); } )

  function execute_code() { 
      $('#output')[0].innerHTML = '';
      running_style();
      client.execute({
          session_id:session_id(),
	  code      :$('#input').val(), 
	  output    :function(s) { $('#output')[0].innerHTML += s; },
	  stop      :function (status) { waiting_style(); },
	  modified_files: function(v) { $('#output')[0].innerHTML += '[files]'; }
      });
  }

  $('#execute').click(execute_code);

  function update_session_status() {
      client.sessions(function (m) {
          var i, s = '', session;
          for (i = 0; i < m.sessions.length; i++) {
              session = m.sessions[i];
              s += '<br>' + i + ': ' + session.status + ', pid=' + session.pid + ', cells=' + session.next_cell_id;
          }
          $('#sessions')[0].innerHTML = s
      })
  }

  update_session_status();

})


</script>
<title>Demo 3</title>

</head>

<body>
<h1>Sage Workspaces: Demo 3b -- websockets</h1>


<div id="message"></div>

<button id="execute">Execute (shift+enter)</button>
<button id="sigint">Interrupt (ctrl+c)</button>
<button id="sigkill">Kill</button>
<button id="close_session">Close</button>
<button id="close_all">Close all sessions</button>
<button id="new_session">New Session</button>
<span>Session <input type="text" id="session" value="0"/></span>
<br>
Sessions:
<div class="bigboxes" id="sessions">
loading status...
</div>
<br>
<div class="bigboxes" id="runframe">
<textarea id="input" name="code" rows=6 cols=80>
import random, time
for i in range(200):
    print random.randint(0,9),
    if i%50==49: 
        time.sleep(.5); print
</textarea>
</div>
<br>
<div class="outputbox">
<pre id="output">
</pre>
</div>


</body>


</html>


<!-- 
#a=0; import time; t=time.time()
if a==1: 
   t=time.time()
a+=1
print a, time.time()-t
-->
