<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <title>SageMathCloud</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="description" content="SageMathCloud">
        <meta name="author" content="SageMathCloud Authors">
        <meta name="date" content="<%= htmlWebpackPlugin.options.date %>">

<!--
        <link rel="stylesheet" href="static/jquery/jquery-ui/css/humanity/jquery-ui.css">
        <link href="static/bootstrap-3.3.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="static/bootstrap-switch/bootstrap-switch.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="static/jquery/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css">
        <link href="static/pnotify/jquery.pnotify.default.css" media="all" rel="stylesheet" type="text/css" />
        <link href="static/pnotify/jquery.pnotify.default.icons.css" media="all" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="static/dropzone/css/dropzone.css">
-->

        <!-- ****** faviconit.com favicons ****** -->
        <!-- Basic favicons -->
        <link rel="shortcut icon" sizes="16x16 32x32 48x48 64x64" href="/static/favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
        <!--[if IE]><link rel="shortcut icon" href="/static/favicon.ico"><![endif]-->
        <!-- For Opera Speed Dial: -->
        <link rel="icon" type="image/png" sizes="195x195" href="/static/favicon-195.png">
        <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
        <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon-152.png">
        <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
        <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon-144.png">
        <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
        <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon-120.png">
        <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
        <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon-114.png">
        <!-- For Google TV devices: -->
        <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96.png">
        <!-- For iPad Mini: -->
        <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon-76.png">
        <!-- For first- and second-generation iPad: -->
        <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon-72.png">
        <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
        <link rel="apple-touch-icon" href="favicon-57.png">
        <!-- Windows 8 Tiles -->
        <meta name="msapplication-TileColor" content="#FFFFFF">
        <meta name="msapplication-TileImage" content="/static/favicon-144.png">
        <!-- ****** faviconit.com favicons ****** -->

    </head>

    <body>
        <!-- Loading banner, removed after JavaScript started -->
        <style>
        #smc-startup-banner {
            width: 450px;
            min-height: 185px;
            background-color: #428BCA;
            border-radius: 5px;
            padding: 15px 0;
            text-align: center;
            position: fixed;
            top: 150px;
            left: 0;
            right: 0;
            margin: auto;
            font-family: sans-serif;
            font-size: 26px;
            color: white;
            animation: banner-error-main ease-in 31s forwards;
        }
        @keyframes banner-error-main {
             95% {background-color: #428BCA; }
            100% {background-color: #bf1919; }
        }
        #smc-startup-banner img {
            width: 80px;
            height: 80px;
        }
        #smc-startup-banner .banner-blink,
        #smc-startup-banner .banner-error {
          position: absolute;
          width: 450px;
          padding: 0;
        }
        #smc-startup-banner .banner-blink {
          animation: banner-blink 31s forwards;
        }
        @keyframes banner-blink {
             0% {opacity: 1.0; }
             5% {opacity:  .1; }
            10% {opacity: 1.0; }
            15% {opacity:  .15;}
            20% {opacity: 1.0; }
            25% {opacity:  .2; }
            30% {opacity: 1.0; }
            35% {opacity:  .25;}
            40% {opacity: 1.0; }
            45% {opacity:  .3; }
            50% {opacity: 1.0; }
            55% {opacity:  .35;}
            60% {opacity: 1.0; }
            65% {opacity:  .4; }
            70% {opacity: 1.0; }
            80% {opacity:  .1; }
            90% {opacity: 0.8; }
            95% {opacity: 0.0; }
           100% {opacity: 0.0; }
        }
        #smc-startup-banner .banner-error {
          animation: banner-error ease-in 31s forwards;
          opacity: 0.0;
        }
        @keyframes banner-error {
         95% {opacity: 0.0;}
        100% {opacity: 1.0;}
        }
        #smc-startup-banner .message {
            margin-top: 10px;
            font-size: 16px;
        }
        #smc-startup-banner a {
            color: white;
            text-decoration: underline;
        }
        </style>

        <div id="smc-startup-banner">
            <img src="static/salvus-icon.svg">
            <div>
                <div class="banner-blink">Loading<br>SageMathCloud ...</div>
                <div class="banner-error">Loading Error!
                    <div class="message">
                        Something bad must have happened.<br>
                        Try
                        <a href="javascript:location.reload(true);">
                            reloading the page</a>
                        while holding your shift-key.
                    </div>
                </div>
            </div>
        </div>
        <!-- END loading banner -->

        <!-- this sets the base_url -->
        <script type="text/javascript" src="base_url.js"></script>

        <!-- Primus: websockets -->
        <!-- <script type="text/javascript" src="static/primus/primus-engine.min.js"></script> -->

        <!-- <script type="text/javascript" src="static/jquery/jquery.min.js"></script> -->

        <!-- <script type="text/javascript" src="static/jquery/jquery-ui/js/jquery-ui.min.js"></script> -->

        <!-- Hack to make jQuery UI work on mobile devices: http://touchpunch.furf.com/ -->
        <!-- <script type="text/javascript" src="static/jquery/plugins/jquery.ui.touch-punch.min.js"></script> -->

        <!-- Hack to make jQuery hide and show not break with Bootstrap 3 -->
        <!-- <script type="text/javascript" src="static/jquery/plugins/bootstrap_hide_show.js"></script> -->

        <!-- Timeago jQuery plugin -->
        <!-- <script type="text/javascript" src="static/jquery/plugins/jquery.timeago.min.js"></script> -->

        <!-- Scroll into view plugin -->
        <!-- <script type="text/javascript" src="static/jquery/plugins/jquery.scrollintoview.min.js"></script> -->

        <!-- Highlight jQuery plugin: http://bartaz.github.io/sandbox.js/jquery.highlight.html -->
        <!-- <script type="text/javascript" src="static/jquery/plugins/jquery.highlight.min.js"></script> -->

        <!-- Caret Position jQuery plugin -->
        <!-- <script type="text/javascript" src="static/jquery/plugins/caret/jquery.caret.js"></script> -->

        <!-- Activity spinner -->
        <!-- <script type="text/javascript" src="static/spin/spin.min.js"></script> -->

        <!-- Bootstrap -->
        <!-- <script type="text/javascript" src="static/bootstrap-3.3.0/js/bootstrap.min.js"></script> -->

        <!-- Bootbox: usable dialogs for bootstrap -->
        <!-- <script type="text/javascript" src="static/bootbox/bootbox.min.js"></script> -->

        <!-- Bootstrap switch: https://github.com/nostalgiaz/bootstrap-switch -->
        <!-- <script type="text/javascript" src="static/bootstrap-switch/bootstrap-switch.min.js"></script> -->

        <!-- Load mathjax (can't be done via webpack) -->
        <!--
        <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
           skipStartupTypeset: true,
           extensions: ["tex2jax.js","asciimath2jax.js"],
           jax: ["input/TeX","input/AsciiMath", "output/SVG"],
           tex2jax: {
              inlineMath: [ ['$','$'], ["\\(","\\)"] ],
              displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
              processEscapes: true
           },
           TeX: {
               extensions: ["autoload-all.js"],
                Macros: { /* get these from sage/misc/latex.py */
                    Bold:  ["\\mathbb{#1}",1],
                    ZZ:    ["\\Bold{Z}",0],
                    NN:    ["\\Bold{N}",0],
                    RR:    ["\\Bold{R}",0],
                    CC:    ["\\Bold{C}",0],
                    FF:    ["\\Bold{F}",0],
                    QQ:    ["\\Bold{Q}",0],
                    QQbar: ["\\overline{\\QQ}",0],
                    CDF:   ["\\Bold{C}",0],
                    CIF:   ["\\Bold{C}",0],
                    CLF:   ["\\Bold{C}",0],
                    RDF:   ["\\Bold{R}",0],
                    RIF:   ["\\Bold{I} \\Bold{R}",0],
                    RLF:   ["\\Bold{R}",0],
                    CFF:   ["\\Bold{CFF}",0],
                    GF:    ["\\Bold{F}_{#1}",1],
                    Zp:    ["\\ZZ_{#1}",1],
                    Qp:    ["\\QQ_{#1}",1],
                    Zmod:  ["\\ZZ/#1\\ZZ",1]
                }
           },      /* do not use "xypic.js", frequently causes crash! */
           "HTML-CSS": { linebreaks: { automatic: true } },
           SVG: { linebreaks: { automatic: true } },
           showProcessingMessages: false
        });
        </script> -->
        <!-- <script type="text/javascript" src="static/mathjax/MathJax.js"></script> -->

        <!-- Bootstrap Colorpicker Plugin -->
        <!-- <script type="text/javascript" src="static/jquery/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script> -->

        <!-- Pnotify: Notification framework from http://pinesframework.org/pnotify -->
        <!-- <script type="text/javascript" src="static/pnotify/jquery.pnotify.min.js"></script> -->

        <!-- XTerm terminal emulator -->
        <!-- <script type="text/javascript" src="static/term/term.min.js"></script> -->
        <!-- <script type="text/javascript" src="static/term/color_themes.js"></script> -->

        <!-- LaTeX support -->
        <!-- <script type="text/javascript" src="static/latex/latex-log-parser.js"></script> -->

        <!-- Datetime picker -->
        <!-- <script type="text/javascript" src="static/datetimepicker/bootstrap-datetimepicker.min.js"></script> -->
        <!-- <link rel="stylesheet" href="static/datetimepicker/bootstrap-datetimepicker.min.css"> -->

        <!-- Make html look nice -->
        <!-- <script type="text/javascript" src="static/jsbeautify/beautify-html.min.js"></script> -->

        <!-- Make html into markdown -->
        <!-- <script type="text/javascript" src="static/remarked/reMarked.min.js"></script> -->

        <!-- Google Analytics -->
        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                                    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-34321400-1', 'auto');
            ga('send', 'pageview');
        </script>

        <!-- Billing related functionality -->
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

        <!-- Hidden div to accurately determine if page is in responsive mode -->
        <div class="salvus-responsive-mode-test"></div>
        <!-- <script>jQuery(parent).trigger('initialize:frame')</script> -->
    </body>
</html>
