.cocalc-account-button
  &:hover
    text-decoration: none
    background-color: $COL_GRAY_LL
    outline: none
  &:focus
    text-decoration: none
    background-color: $COL_GRAY_LL
    outline: none