.smc-d3-graph
  cursor : pointer
  border : 1px solid lightgrey

.node
    stroke       : #fff
    stroke-width : 1.5px

.link
    fill           : none
    stroke         : #000
    stroke-opacity : .6
    opacity        : .6

.directed
    fill           : none
    stroke         : #000
    stroke-opacity : .6
    opacity        : .6

marker
    fill : #bbb
