name: Make all packages and run their tests

# newer commits in the same PR abort running ones for the same workflow
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
        node-version:
          - "16.x"
          - "18.x"

    steps:
      - uses: actions/checkout@v3
      - name: Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          # https://github.com/actions/setup-node/blob/main/docs/advanced-usage.md#caching-packages-data
          # caching, etc., doesn't work without using "uses: pnpm/action-setup@v2", and that
          # doesn't work, since it makes assumptions about the layout of the repo (e.g., where package.json is),
          # which aren't true.
          # cache: "pnpm"
          # cache-dependency-path: "src/packages/pnpm-lock.yaml"

      - run: cd src && npm install -g pnpm && pnpm run make
      - run: cd src && pnpm run test
